<div fxLayout="column" fxLayout.gt-xs="row wrap" fxLayoutGap="10px">
  <div
    class="flex-item"
    *ngFor="let unit of units; trackBy: getId"
    fxFlex.xs="0 0 calc(100%)"
    fxFlex.sm="0 0 calc(50% -10px)"
    fxFlex.md="0 0 calc(33% -10px)"
    fxFlex.lg="0 0 calc(25% -10px)"
    fxFlex.xl="0 0 calc(20% -10px)"
  >
    <app-unit-card [unit]="unit"> </app-unit-card>
  </div>

  <div class="flex-item" *ngIf="!ms.game.resourceManager.scientist.unlocked">
    <nz-card style="width: 100%;" [nzTitle]="locked" nzSize="small">
      <p>To unlock you need:</p>
      <ul>
        <li>
          <span
            *ngIf="ms.game.resourceManager.technician.quantity.gte(3); else x"
            @fadeIn
            nz-text
            class="text-success"
            nzType="success"
          >
            <i nz-icon nzType="check" nzTheme="outline"></i
          ></span>
          3 Technician
        </li>
        <li>
          <span
            *ngIf="ms.game.resourceManager.miner.quantity.gte(3); else x"
            @fadeIn
            nz-text
            class="text-success"
            nzType="success"
          >
            <i nz-icon nzType="check" nzTheme="outline"></i
          ></span>
          3 Miner
        </li>
      </ul>
    </nz-card>
  </div>
</div>

<ng-template #locked
  ><i nz-icon nzType="lock" nzTheme="outline"></i> Locked</ng-template
>

<ng-template #x>
  <span nz-text nzType="danger"
    ><i nz-icon nzType="close" nzTheme="outline"></i
  ></span>
</ng-template>
