<div class="matContainer">
  <div
    *ngFor="
      let item of ms.game.resourceManager.unlockedMaterials;
      trackBy: getId
    "
    @fadeIn
    class="mainContainer"
  >
    <i nz-icon [nzType]="item.icon" [style.color]="item.color"></i>

    <div
      class="container"
      nz-popover
      [nzPopoverTitle]="titleTemplate"
      [nzPopoverContent]="contentTemplate"
      nzPopoverPlacement="bottom"
      [nzPopoverTrigger]="popoverTrigger"
      (click)="createModal(item.name, contentTemplate, tplFooter)"
    >
      <span>
        <span class="monospace">{{ item.quantity | format }}</span>
      </span>
      <span>
        <span
          class="monospace"
          [class]="item.perSec.gte(0) ? '' : 'text-danger'"
          >{{ item.perSec | format }} /s</span
        >
      </span>
      <!-- <span>
        <span
          nz-text
          class="monospace"
          [nzType]="item.perSec2.gte(0) ? '' : 'danger'"
          >{{ item.perSec2 | format }} /s<sup>2</sup></span
        >
      </span> -->
    </div>

    <ng-template #titleTemplate
      ><i nz-icon [nzType]="item.icon"></i> {{ item.name }}</ng-template
    >
    <ng-template #contentTemplate>
      <app-prod-info [unit]="item"></app-prod-info>
    </ng-template>
  </div>
</div>

<ng-template #tplFooter>
  <button nz-button nzType="primary" (click)="destroyTplModal()">
    Ok
  </button>
</ng-template>
