<div class="matContainer">
  <div
    *ngFor="let item of ms.game.resouceManager.materials; trackBy: getId"
    class="mainContainer"
  >
    <i nz-icon [nzType]="'home'"></i>

    <div class="container">
      <span>
        <span class="monospace">{{ item.quantity | format }}</span>
      </span>
      <span>
        <span class="monospace">{{ item.perSec | format }}</span> /s</span
      >
      <span>
        <span class="monospace">{{ item.perSec2 | format }}</span> /s
        <sup>2</sup>
      </span>
    </div>
  </div>
</div>
