<div class="matContainer">
  <div class="mainContainer">
    <i nz-icon [nzType]="'home'"></i>

    <div class="container">
      <span>18.56K</span>
      <span>529 /s</span>
      <span>23 /s2</span>
    </div>
  </div>

  <div class="mainContainer">
    <i nz-icon [nzType]="'home'"></i>

    <div class="container">
      <span>18.56K</span>
      <span>529 /s</span>
      <span>23 /s2</span>
    </div>
  </div>

  <div class="mainContainer">
    <i nz-icon [nzType]="'home'"></i>

    <div class="container">
      <span>18.56K</span>
      <span>529 /s</span>
      <span>23 /s2</span>
    </div>
  </div>

  <div class="mainContainer">
    <i nz-icon [nzType]="'home'"></i>

    <div class="container">
      <span>18.56K</span>
      <span>529 /s</span>
      <span>23 /s2</span>
    </div>
  </div>

  <div class="mainContainer">
    <i nz-icon [nzType]="'home'"></i>

    <div class="container">
      <span>18.56K</span>
      <span>529 /s</span>
      <span>23 /s2</span>
    </div>
  </div>
</div>
