* {
  // font-size: 99%;
}
span {
  line-height: 1rem;
  white-space: nowrap;
}

.container {
  display: flex;
  flex-direction: row;
}

.mainContainer {
  align-content: center;
  align-items: center;
  cursor: pointer;
  display: flex;
  flex-basis: auto;
  flex-grow: 1;
  font-size: 99%;
  font-weight: 700;
  padding-bottom: 5px;
  padding-top: 5px;

  [nz-icon] {
    margin-left: 4px;
    margin-right: 4px;
  }
}

.matContainer {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  justify-content: flex-start;
}

@media only screen and (max-width: 1000px) {
  .mainContainer {
    [nz-icon] {
      margin-left: 7px;
      margin-right: 7px;
    }
  }
}

.min-width {
  display: inline-block;
  margin-right: 0.4rem;
  min-width: 2.6rem;
}
.per-sec {
  min-width: 4rem;
  text-align: right;
}
