{
  "extends": [
    "stylelint-config-standard",
    "stylelint-config-recommended",
    "stylelint-config-sass-guidelines",
    "stylelint-prettier/recommended"
  ],"rules": {
    "selector-type-no-unknown": null
  }
}
