<h2>Cards</h2>

<div fxLayout="row" fxLayoutGap="10px" fxLayout.xs="column">
  <div fxFlex.xs="0 0 calc(100%)" fxFlex.gt-xs="0 0 calc(37% -10px)">
    <h3>Available</h3>
    <div
      cdkDropList
      #todoList="cdkDropList"
      [cdkDropListData]="available"
      [cdkDropListConnectedTo]="[doneList]"
      class="job-list"
      (cdkDropListDropped)="drop($event)"
      id="backlog"
    >
      <app-prestige-card
        cdkDrag
        class="job-box"
        *ngFor="let cardAv of available; trackBy: getCardId"
        [card]="cardAv"
      >
      </app-prestige-card>
    </div>
  </div>
  <div fxFlex.xs="0 0 calc(100%)" fxFlex.gt-xs="0 0 calc(37% -10px)">
    <h3>
      In Use
      <span class="monospace"
        >{{ inUse.length }} /{{ ms.game.prestigeManager.maxCards }}</span
      >
    </h3>
    <div
      cdkDropList
      #doneList="cdkDropList"
      [cdkDropListData]="inUse"
      [cdkDropListConnectedTo]="[todoList]"
      class="job-list"
      (cdkDropListDropped)="drop($event)"
      id="backlog"
      [cdkDropListEnterPredicate]="maxPredicate"
    >
      <app-prestige-card
        cdkDrag
        class="job-box"
        *ngFor="let cardUse of inUse; trackBy: getCardId"
        [card]="cardUse"
      >
      </app-prestige-card>
    </div>
  </div>
  <div fxFlex.xs="0 0 calc(100%)" fxFlex.gt-xs="0 0 calc(26% -10px)">
    <p>
      Gain one slot every {{ LEVEL_PER_CARD }} max level enemy. Slots never
      reset.
      <br />
      After confirmation cards will be locked until prestige (you can click
      'Confirm' only one time per prestige).
    </p>
    <button
      nzType="primary"
      nz-button
      (click)="confirm()"
      class="confirmButton"
      [disabled]="ms.game.prestigeManager.lockedCars"
    >
      Confirm
    </button>
  </div>
</div>
