<span *ngFor="let weapon of weapons">
  <span font="monospace" fxLayout="row wrap" fxLayoutGap="0.25rem;">
    <i nz-icon [nzType]="weapon.module.shape"></i>
    <strong>{{ weapon.module.name }}</strong>
    <span
      *ngIf="weapon.damage > 0"
      class="damage-color"
      nz-tooltip
      nzTooltipTitle="Damage"
      fxLayout="row"
    >
      <i nz-icon nzType="my:blaster"></i>
      <span>{{ weapon.damage | format: true }}</span>
    </span>
    <span
      *ngIf="weapon.armourPercent !== 100"
      class="armour-damage-color"
      nz-tooltip
      nzTooltipTitle="Armour % Damage"
      fxLayout="row"
    >
      <i nz-icon nzType="my:laser-blast"></i>
      {{ weapon.armourPercent | format: true }}%
    </span>
    <span
      *ngIf="weapon.shieldPercent !== 100"
      class="shield-damage-color"
      nz-tooltip
      nzTooltipTitle="Shield % Damage"
      fxLayout="row"
    >
      <i nz-icon nzType="my:supersonic-bullet"></i>
      {{ weapon.shieldPercent | format: true }}%
    </span>
    <span
      *ngIf="weapon.defencePercent !== 100"
      class="defence-damage-color"
      nz-tooltip
      nzTooltipTitle="Defence % Damage"
      fxLayout="row"
    >
      <i nz-icon nzType="my:falling-bomb"></i>
      {{ weapon.defencePercent | format: true }}%
    </span>
    <span
      *ngIf="weapon.threatMulti !== 1"
      class="threat-color"
      nz-tooltip
      nzTooltipTitle="Threat Multi"
      fxLayout="row"
    >
      <i nz-icon nzType="my:target-arrows"></i
      >{{ weapon.threatMulti * 100 | format }}%
    </span>
    <span
      *ngIf="weapon.precision > 0"
      class="threat-color"
      nz-tooltip
      nzTooltipTitle="Precision"
      fxLayout="row"
    >
      <i nz-icon nzType="my:targeting"></i>{{ weapon.precision | format: true }}
    </span>
    <span
      *ngIf="weapon.adaptivePrecision > 0"
      class="threat-color"
      nz-tooltip
      nzTooltipTitle="Adaptive Precision"
      fxLayout="row"
    >
      <i nz-icon nzType="my:arrow-scope"></i
      >{{ weapon.adaptivePrecision | format: true }}
    </span>
  </span>
</span>
