.ant-collapse-content > .ant-collapse-content-box {
  padding: 8px;
}
.infoIcon {
  float: right;
}
button {
  width: 100%;
}
.priority {
  width: 100%;
  margin-bottom: 8px;
}
.priceIcon {
  margin-right: 0.2rem;
}
.comma {
  margin-right: 0.3rem;
}
.mod-button {
  margin-bottom: -6px;
}
