.ant-collapse-content > .ant-collapse-content-box {
  padding: 8px;
}

.infoIcon {
  float: right;
}

button {
  width: 100%;
}

.priority {
  width: 100%;
  // margin-bottom: 8px;
}

.priceIcon {
  margin-right: 0.2rem;
}

.comma {
  margin-right: 0.3rem;
}

.mod-button {
  margin-bottom: -6px;
}

.prod-table {
  min-width: 17rem;
}

.total {
  font-weight: 700;
  // text-align: right;
}

::ng-deep .ant-card-body {
  padding-bottom: 0.5rem !important;
}

p {
  margin-bottom: 0;
  margin-top: 0.3rem;
}
nz-input-number {
  height: 22px;
}
div.ant-typography {
  margin: 0;
}

.drone-status {
  ::ng-deep .ant-alert {
    padding: 2px 12px 2px 37px;
  }
  ::ng-deep .ant-alert-icon {
    top: 5px;
  }
  ::ng-deep .ant-alert-close-icon {
    top: 2px;
  }
  .mg-top {
    margin-top: 0.4rem;
  }
}
