<nz-card
  style="width:100%;"
  nzSize="small"
  nzTitle="{{ unit.name }}"
  [nzExtra]="extraTemplate"
  [nzActions]="actions"
>
  <span class="infoIcon">
    <span
      nz-popover
      [nzPopoverTitle]="titleTemplate"
      [nzPopoverContent]="contentTemplate"
      [nzPopoverTrigger]="popoverTrigger"
      (click)="createModal(contentTemplate, tplFooter)"
    >
      <i nz-icon nzType="info-circle" nzTheme="outline"></i>
    </span>
  </span>

  <p *ngIf="unit.description !== ''">
    {{ unit.description }}
  </p>
  <span nz-text><strong>Operativity:</strong></span>
  <span class="monospace">{{ unit.operativity | format }}</span
  >%
  <nz-slider
    [(ngModel)]="unit.operativity"
    [nzDisabled]="sliderDisabled"
    [nzStep]="0.1"
  ></nz-slider>

  <span nz-text><strong>Price:</strong></span>
  <span *ngFor="let pri of unit.buyPrice.prices; trackBy: getPriceId">
    <span nz-text [nzType]="pri.canBuy ? '' : 'danger'">
      <i
        nz-icon
        [nzType]="pri.spendable.icon"
        [style.color]="pri?.spendable?.color"
      ></i>
      <span *ngIf="!pri.spendable.icon">{{ pri.spendable.name }}</span>
      <span class="monospace"> {{ pri.singleCost | format }}</span>
      <span
        *ngIf="
          unit.buyPrice.prices.indexOf(pri) !== unit.buyPrice.prices.length - 1
        "
        >,</span
      >
    </span>
  </span>
</nz-card>

<ng-template #extraTemplate>
  <span class="monospace">
    {{ unit.quantity | format }}
    ({{ unit.manualBought | format }})
  </span>
</ng-template>

<ng-template #titleTemplate>
  <i nz-icon nzType="table"></i> Production</ng-template
>

<!-- Production Table -->
<ng-template #contentTemplate>
  <nz-table
    #nestedTable
    #middleTable
    nzSize="small"
    [nzData]="unit.production"
    [nzShowPagination]="false"
  >
    <thead>
      <tr>
        <th nzShowExpand></th>
        <th>Product</th>
        <th>Ratio</th>
        <th>Total</th>
      </tr>
    </thead>
    <tbody>
      <ng-template
        ngFor
        let-data
        [ngForOf]="nestedTable.data"
        [ngForTrackBy]="getProdId"
      >
        <tr>
          <td nzShowExpand [(nzExpand)]="data.expand"></td>
          <td>
            <i
              nz-icon
              [nzType]="data.product.icon"
              [style.color]="data.product.color"
            ></i>
            {{ data.product.name }}
          </td>
          <td>
            <span
              nz-text
              class="monospace"
              [nzType]="data.ratio.gte(0) ? '' : 'danger'"
              >{{ data.ratio | format }}</span
            >
          </td>
          <td>
            <span
              nz-text
              class="monospace"
              [nzType]="data.prodPerSec.gte(0) ? '' : 'danger'"
              >{{ data.prodPerSec.times(unit.quantity) | format }}</span
            >
          </td>
        </tr>

        <tr [nzExpand]="data.expand">
          <td colspan="4" *ngIf="data.expand">
            <app-sub-table [data]="data" [unit]="unit"></app-sub-table>
          </td>
        </tr>
      </ng-template>
    </tbody> </nz-table
></ng-template>

<!-- Buttons -->
<ng-template #buyOne>
  <button (click)="buyOneAct()" nz-button nzType="link" nzSize="small">
    Buy
    <span class="monospace">1</span>
  </button>
</ng-template>
<ng-template #buyHalf>
  <button (click)="buyHalfAct()" nz-button nzType="link" nzSize="small">
    Buy
    <span class="monospace">{{ unit.buyPrice.halfBuy | format: true }}</span>
  </button>
</ng-template>
<ng-template #buyMax>
  <button (click)="buyMaxAct()" nz-button nzType="link" nzSize="small">
    Buy <span class="monospace">{{ unit.buyPrice.maxBuy | format: true }}</span>
  </button>
</ng-template>
<ng-template #buyNone>
  <button nz-button nzType="link" disabled="true" nzSize="small">
    Can't buy
  </button>
</ng-template>
<ng-template #tplFooter>
  <button nz-button nzType="primary" (click)="destroyTplModal()" nzSize="small">
    Ok
  </button>
</ng-template>
