<nz-card
  style="width:300px;"
  nzTitle="{{ unit.name }}"
  [nzExtra]="extraTemplate"
  [nzActions]="actions"
>
  <nz-card-tab>
    <nz-tabset nzSize="default" [(nzSelectedIndex)]="index1">
      <nz-tab nzTitle="Basics"> </nz-tab>
      <nz-tab nzTitle="Info"> </nz-tab>
    </nz-tabset>
  </nz-card-tab>

  <span [ngSwitch]="index1">
    <div *ngSwitchCase="0">
      <p *ngIf="unit.description !== ''">
        {{ unit.description }}
      </p>
      Operativity:
      <span class="monospace">{{ unit.operativity | format }}</span
      >%
      <nz-slider
        [(ngModel)]="unit.operativity"
        [nzDisabled]="sliderDisabled"
        [nzStep]="0.1"
      ></nz-slider>
    </div>
    <div *ngSwitchCase="1">
      <nz-table
        #nestedTable
        #middleTable
        nzSize="middle"
        [nzData]="unit.production"
        [nzShowPagination]="false"
      >
        <thead>
          <tr>
            <th nzShowExpand></th>
            <th>Product</th>
            <th>Ratio</th>
            <th>Total</th>
          </tr>
        </thead>
        <tbody>
          <ng-template
            ngFor
            let-data
            [ngForOf]="nestedTable.data"
            [ngForTrackBy]="getProdId"
          >
            <tr>
              <td nzShowExpand [(nzExpand)]="data.expand"></td>
              <td>{{ data.product.name }}</td>
              <td>{{ data.ratio | format }}</td>
              <td>{{ data.prodPerSec | format }}</td>
            </tr>

            <tr [nzExpand]="data.expand">
              <td colspan="4" *ngIf="data.expand">
                <app-sub-table [data]="data" [unit]="unit"></app-sub-table>
              </td>
            </tr>
          </ng-template>
        </tbody>
      </nz-table>
    </div>
    <div *ngSwitchDefault></div>
  </span>
</nz-card>
<ng-template #extraTemplate>
  <span class="monospace">
    {{ unit.quantity | format }}
    ({{ unit.manualBought | format }})
  </span>
</ng-template>

<ng-template #buyOne>
  <button (click)="buyOneAct()" nz-button nzType="link">
    Buy
    <span class="monospace">1</span>
  </button>
</ng-template>
<ng-template #buyHalf>
  <button (click)="buyHalfAct()" nz-button nzType="link">
    Buy
    <span class="monospace">{{ unit.buyPrice.halfBuy | format: true }}</span>
  </button>
</ng-template>
<ng-template #buyMax>
  <button (click)="buyMaxAct()" nz-button nzType="link">
    Buy <span class="monospace">{{ unit.buyPrice.maxBuy | format: true }}</span>
  </button>
</ng-template>
<ng-template #buyNone>
  <button nz-button nzType="link" disabled="true">Can't buy</button>
</ng-template>
