<div
  fxLayout="row wrap"
  fxLayout.lt-sm="column"
  fxLayoutAlign="flex-start"
  fxLayoutGap.gt-sm="10px"
>
  <div fxFlex.lt-sm="100%" fxFlex="0 1 calc(55% - 10px)">
    <h1>Fleets</h1>

    <nz-collapse [nzBordered]="false">
      <nz-collapse-panel
        *ngFor="let panel of panels; trackBy: getPanelId"
        [nzHeader]="panel.name"
        [nzActive]="panel.active"
        [nzDisabled]="panel.disabled"
      >
        <nz-table #basicTable nzTemplateMode nzSize="small">
          <thead>
            <tr>
              <th>Design</th>
              <th nz-tooltip nzTooltipTitle="Priority">Priority</th>
              <th
                nz-tooltip
                nzTooltipTitle="Quantity of ships you have, including outdated ships"
              >
                Actual
              </th>
              <th nz-tooltip nzTooltipTitle="Quantity of outdated ships">
                Old
              </th>
              <th nz-tooltip nzTooltipTitle="Desired quantity">Qty</th>
              <th nz-tooltip nzTooltipTitle="New Desired quantity">New</th>
            </tr>
          </thead>
          <tbody>
            <tr
              *ngFor="
                let design of ms.game.shipyardManager.shipDesigns;
                trackBy: getDesignId
              "
            >
              <td>{{ design.name }}</td>
              <td>
                <nz-input-number
                  nzSize="small"
                  [(ngModel)]="design.fleets[panel.fleet].navalCapPercentUi"
                  [nzMin]="0"
                  [nzMax]="100"
                  [nzStep]="1"
                ></nz-input-number>
              </td>
              <td>
                <span class="monospace">
                  {{
                    design.fleets[panel.fleet].shipsQuantity +
                      (design.old?.fleets)[panel.fleet].shipsQuantity
                      | number: "1.0-0"
                  }}
                </span>
              </td>
              <td>
                <span class="monospace">
                  {{
                    (design.old?.fleets)[panel.fleet].shipsQuantity
                      | number: "1.0-0"
                  }}
                </span>
              </td>
              <td>
                <span class="monospace">
                  {{ design.fleets[panel.fleet].wantedShips | number: "1.0-0" }}
                </span>
              </td>
              <td>
                <span
                  class="monospace"
                  [class.text-success]="
                    design.fleets[panel.fleet].wantedShips <
                    design.fleets[panel.fleet].wantedShipsUi
                  "
                  [class.text-danger]="
                    design.fleets[panel.fleet].wantedShips >
                    design.fleets[panel.fleet].wantedShipsUi
                  "
                >
                  {{
                    design.fleets[panel.fleet].wantedShipsUi | number: "1.0-0"
                  }}
                </span>
              </td>
            </tr>
          </tbody>
        </nz-table>

        <button
          nz-button
          (click)="reinforce(panel.fleet)"
          class="reinforce_num"
        >
          Reinforce {{ panel.fleet }}
        </button>
      </nz-collapse-panel>
    </nz-collapse>

    <nz-button-group>
      <button nz-button nzType="primary" (click)="confirm()">Confirm</button>
      <button nz-button (click)="reinforceAll()">
        Reinforce All
      </button>
    </nz-button-group>
  </div>
  <div
    fxFlex.lt-md="100%"
    fxFlex.md="0 1 calc(40% - 10px)"
    fxFlex.lg="0 1 calc(35% - 10px)"
    fxFlex.xl="0 1 calc(30% - 10px)"
  >
    <h1>Jobs</h1>
    <div
      cdkDropList
      [cdkDropListData]="ms.game.shipyardManager.toDo"
      class="job-list"
      (cdkDropListDropped)="drop($event)"
    >
      <app-job
        cdkDrag
        class="job-box"
        *ngFor="let resToDo of ms.game.shipyardManager.toDo"
        [job]="resToDo"
        [collection]="ms.game.shipyardManager.toDo"
      ></app-job>
    </div>
  </div>
</div>

<!-- nzVirtualForTrackBy="getDesignId" -->
