<div
  fxLayout="row wrap"
  fxLayout.lt-sm="column"
  fxLayoutAlign="flex-start"
  fxLayoutGap="10px"
>
  <div fxFlex.lt-sm="100%" fxFlex="0 1 calc(55% - 10px)">
    <h1>Fleets</h1>

    <nz-table #basicTable nzTemplateMode>
      <thead>
        <tr>
          <th>Design</th>
          <th *ngFor="let name of fleetNames; trackBy: getNameId">
            {{ name }}
          </th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="
            let design of ms.game.shipyardManager.shipDesigns;
            trackBy: getDesignId
          "
        >
          <td>{{ design.name }}</td>
          <td *ngFor="let fleet of design.fleets; let i = index">
            <nz-input-number
              nzSize="small"
              [(ngModel)]="fleet.navalCapPercentUi"
              [nzMin]="0"
              [nzMax]="100"
              [nzStep]="1"
            ></nz-input-number>
            <div>
              <span class="monospace"
                >{{ fleet.shipsQuantity | number: "1.0-0"
                }}<span
                  *ngIf="
                    (design.old?.fleets)[i] &&
                    (design.old?.fleets)[i].shipsQuantity > 0
                  "
                  >(<span class="text-danger"
                    >{{
                      design.old.fleets[i].shipsQuantity | number: "1.0-0"
                    }})</span
                  ></span
                ></span
              >
              /
              <span class="monospace"
                >{{ fleet.wantedShips | number: "1.0-0" }}
              </span>
            </div>
          </td>
        </tr>
      </tbody>
    </nz-table>

    <br />
    <nz-button-group>
      <button nz-button nzType="primary" (click)="confirm()">Confirm</button>
      <button nz-button nzType="secondary" (click)="reinforce()">
        Reinforce
      </button>
    </nz-button-group>
  </div>
  <div
    fxFlex.lt-md="100%"
    fxFlex.md="0 1 calc(40% - 10px)"
    fxFlex.lg="0 1 calc(35% - 10px)"
    fxFlex.xl="0 1 calc(30% - 10px)"
  >
    <h1>Jobs</h1>
    <div
      cdkDropList
      #todoList="cdkDropList"
      [cdkDropListData]="ms.game.shipyardManager.toDo"
      class="job-list"
      (cdkDropListDropped)="drop($event)"
    >
      <app-job
        cdkDrag
        class="job-box"
        *ngFor="let resToDo of ms.game.shipyardManager.toDo"
        [job]="resToDo"
      ></app-job>
    </div>
  </div>
</div>

<!-- nzVirtualForTrackBy="getDesignId" -->
