::ng-deep .cdk-drag-preview {
  display: table;
}

::ng-deep .cdk-drag-placeholder {
  opacity: 0;
}

.ant-input-number {
  width: 70px;
}
.reinforce_num {
  margin-top: 0.5rem;
}
nz-button-group {
  margin-top: 0.5rem;
}
.fleet-priority {
  margin-left: 0.3rem;
  margin-right: 1rem;
}
.new-cap {
  margin-left: 1rem;
}
