.research-container {
  padding: 0 25px 25px 0;
}

.technology-list {
  margin-top: 1rem;
}

.my-label {
  margin-right: 1rem;
}

nz-switch {
  margin-right: 0.3rem;
}
#sort-btn {
  margin-top: 0.8rem;
}
nz-select {
  max-width: 10rem;
  width: 100%;
}
