<div fxLayout="row wrap" fxLayoutAlign="stretch" fxLayout.lt-md="column">
  <!-- class="height100" -->
  <div
    fxLayout="row wrap"
    fxLayoutAlign="stretch"
    fxLayout.lt-md="column"
    fxFlex="75"
  >
    <!-- class="height100" -->
    <div fxFlex="50" class="research-container">
      <h2>Backlog</h2>
      <div
        cdkDropList
        #todoList="cdkDropList"
        [cdkDropListData]="ms.game.researchManager.backlog"
        [cdkDropListConnectedTo]="[doneList]"
        class="job-list"
        (cdkDropListDropped)="drop($event)"
      >
        <app-job
          cdkDrag
          class="job-box"
          *ngFor="
            let resToDo of ms.game.researchManager.backlog;
            trackBy: getResId
          "
          [job]="resToDo"
          [collection]="ms.game.researchManager.backlog"
          [showDescription]="false"
        >
          <div *cdkDragPreview>
            <nz-card style="width: 300px;" nzSize="small">
              <app-research-preview [research]="resToDo"></app-research-preview>
            </nz-card>
          </div>
        </app-job>
      </div>
    </div>
    <div fxFlex="50" class="research-container">
      <h2>To do</h2>
      <div
        cdkDropList
        #doneList="cdkDropList"
        [cdkDropListData]="ms.game.researchManager.toDo"
        [cdkDropListConnectedTo]="[todoList]"
        class="job-list"
        (cdkDropListDropped)="drop($event)"
      >
        <app-job
          cdkDrag
          class="job-box"
          (cdkDragStarted)="start($event)"
          (cdkDragEnded)="end($event)"
          *ngFor="
            let resToDo of ms.game.researchManager.toDo;
            trackBy: getResId
          "
          [job]="resToDo"
          [collection]="ms.game.researchManager.toDo"
          [showDescription]="false"
        >
          <div *cdkDragPreview>
            <nz-card style="width: 300px;" nzSize="small">
              <app-research-preview [research]="resToDo"></app-research-preview>
            </nz-card>
          </div>
        </app-job>
      </div>
    </div>
  </div>

  <div fxFlex="25" class="info-div">
    <div>
      <strong>Research /s: </strong>
      <span class="monospace">{{
        ms.game.researchManager.researchPerSec | format
      }}</span>
    </div>
    <div>
      <strong>Technology /s: </strong>
      <span class="monospace">{{
        ms.game.researchManager.techPerSec | format
      }}</span>
    </div>
    <div>
      Research Priority:
      <nz-input-number
        [(ngModel)]="ms.game.researchManager.researchPriority"
        [nzMin]="0"
        [nzMax]="100"
        [nzStep]="1"
        [nzSize]="'small'"
      ></nz-input-number>
      <nz-slider
        [(ngModel)]="ms.game.researchManager.researchPriority"
      ></nz-slider>
    </div>

    <div>
      <nz-switch nzSize="small" [(ngModel)]="ms.game.researchManager.sort">
      </nz-switch>
      <label class="my-label"> Auto Sort</label>

      <nz-switch
        nzSize="small"
        [(ngModel)]="ms.game.researchManager.newJobsOnBacklog"
      >
      </nz-switch>
      <label>New on BackLog</label>
    </div>

    <button nz-button nzType="default" id="sort-btn" (click)="sort()">
      <i nz-icon nzType="sort-ascending" nzTheme="outline"></i>
      Sort
    </button>

    <ul class="list-unstyled technology-list">
      <li
        *ngFor="
          let item of ms.game.researchManager.unlockedTechnologies;
          trackBy: getTypeId
        "
      >
        <span [style.color]="item.color"
          ><i nz-icon [nzType]="item.icon"></i
        ></span>

        {{ item.name }}
        <span class="monospace">+{{ item.bonus.totalBonusUi | format }}%</span>
      </li>
    </ul>
  </div>
</div>
