<div fxLayout="row wrap" fxLayoutAlign="stretch" fxLayout.lt-md="column">
  <div
    fxLayout="row wrap"
    fxLayoutAlign="stretch"
    fxLayout.lt-md="column"
    fxFlex="75"
  >
    <div fxFlex="50" class="research-container">
      <h2>Backlog</h2>
      <div
        cdkDropList
        #todoList="cdkDropList"
        [cdkDropListData]="ms.game.researchManager.backlog"
        [cdkDropListConnectedTo]="[doneList]"
        class="job-list"
        (cdkDropListDropped)="drop($event)"
      >
        <app-job
          cdkDrag
          class="job-box"
          *ngFor="
            let resToDo of ms.game.researchManager.backlog;
            trackBy: getResId
          "
          [job]="resToDo"
          [collection]="ms.game.researchManager.backlog"
          [showDescription]="false"
        ></app-job>
      </div>
    </div>

    <div fxFlex="50" class="research-container">
      <h2>To do</h2>
      <div
        cdkDropList
        #doneList="cdkDropList"
        [cdkDropListData]="ms.game.researchManager.toDo"
        [cdkDropListConnectedTo]="[todoList]"
        class="job-list"
        (cdkDropListDropped)="drop($event)"
      >
        <app-job
          cdkDrag
          class="job-box"
          *ngFor="
            let resToDo of ms.game.researchManager.toDo;
            trackBy: getResId
          "
          [job]="resToDo"
          [collection]="ms.game.researchManager.toDo"
          [showDescription]="false"
        ></app-job>
      </div>
    </div>
  </div>

  <div fxFlex="25" class="info-div">
    <strong>Research /s: </strong>
    <span>{{ ms.game.researchManager.researchPerSec | format }}</span>
    <ul class="list-unstyled technology-list">
      <li
        *ngFor="
          let item of ms.game.researchManager.unlockedTechnologies;
          trackBy: getTypeId
        "
      >
        <span [style.color]="item.color"
          ><i nz-icon [nzType]="item.icon"></i
        ></span>

        {{ item.name }}
        <span class="monospace">+{{ item.bonus.totalBonusUi | format }}%</span>
      </li>
    </ul>
  </div>
</div>
