<table>
  <tr *ngFor="let i of numbers">
    <td
      class="cell"
      *ngFor="let k of numbers"
      [ngStyle]="{
        'background-color':
          ms.game.enemyManager.currentEnemy.cells[i * 10 + k].percent < 1
            ? ms.game.enemyManager.currentEnemy.cells[i * 10 + k].color
            : 'transparent'
      }"
    >
      <!-- &nbsp; -->
      <!-- {{ ms.game.enemyManager.currentEnemy.cells[i * 10 + k].percent }} -->
      <i
        *ngIf="ms.game.enemyManager.currentEnemy.cells[i * 10 + k].districts"
        nz-icon
        [nzType]="
          ms.game.enemyManager.currentEnemy.cells[i * 10 + k].districts.icon
        "
      ></i>
    </td>
  </tr>
</table>
