<h2>Save</h2>

<nz-button-group>
  <button nz-button nzType="primary" (click)="ms.save()">Save</button>
  <button nz-button nzType="default" (click)="ms.loadFromLocalStorage()">
    Load
  </button>
  <button nz-button nzType="danger" (click)="ms.clear()">
    Clear
  </button>
</nz-button-group>

<textarea nz-input [(ngModel)]="exp"></textarea>
<nz-button-group>
  <button nz-button nzType="primary" (click)="export()">Export</button>
  <button nz-button nzType="default" (click)="import()">
    Import
  </button>
</nz-button-group>

<br /><br />
<a
  href="https://scorzy.github.io/IdleSpace2/assets/changelog.txt"
  target="_blank"
>
  Changelog
</a>
