<span class="top-line">
  Production:
  <span
    nz-text
    class="monospace qta"
    [nzType]="unit.perSec.gte(0) ? '' : 'danger'"
  >
    {{ unit.perSec | format }}
  </span>
</span>
<span class="top-line">
  Total Production:
  <span class="monospace qta">
    {{ totalProd | format }}
  </span>
</span>
<span class="top-line">
  Total Consumed:
  <span nz-text nzType="danger" class="monospace qta">
    {{ totalConsumed | format }}
  </span>
</span>

<nz-table
  *ngIf="showTable"
  #sortTable
  nzSize="middle"
  [nzData]="data"
  [nzShowPagination]="false"
  class="prod-table"
>
  <thead>
    <tr>
      <th>
        Name
      </th>
      <th>Prod</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of sortTable.data">
      <td>{{ data.producer.name }}</td>
      <td>
        <span
          nz-text
          [nzType]="data.prodPerSec.gte(0) ? '' : 'danger'"
          class="monospace"
          >{{ data.prodPerSec.times(data.producer.quantity) | format }}</span
        >
      </td>
    </tr>
  </tbody>
</nz-table>
