<div fxLayout="column" fxLayout.gt-xs="row wrap" fxLayoutGap="10px">
  <div
    fxFlex.xs="1 1 calc(100%)"
    fxFlex.sm="1 1 calc(100%)"
    fxFlex.md="1 1 calc(50% -10px)"
    fxFlex.lg="1 1 calc(60% -10px)"
    fxFlex.xl="1 1 calc(60% -10px)"
    fxLayout="column"
    fxLayoutGap="12px"
  >
    <app-unit-card
      class="min-width"
      *ngIf="unit"
      [unit]="unit"
      [detailView]="true"
    >
    </app-unit-card>
    <app-unit-card
      class="min-width"
      *ngIf="building"
      [unit]="building"
      [detailView]="true"
    >
    </app-unit-card>
    <app-unit-card
      class="min-width"
      *ngIf="storage"
      [unit]="storage"
      [detailView]="true"
    >
    </app-unit-card>

    <nz-card nzSize="small" *ngIf="unit.makers.length > 0">
      <h3>{{ unit.name }} production:</h3>
      <app-prod-info [unit]="unit"></app-prod-info>
    </nz-card>
  </div>

  <div
    fxFlex.xs="1 1 calc(100%)"
    fxFlex.sm="1 1 calc(100%)"
    fxFlex.md="1 1 calc(50% -10px)"
    fxFlex.lg="1 1 calc(40% -10px)"
    fxFlex.xl="1 1 calc(40% -10px)"
  >
    <div class="min-width" fxLayout="column" fxLayoutGap="10px">
      <nz-card nzSize="small" *ngIf="unit.production.length > 0">
        <h3>{{ unit.name }} produces:</h3>
        <app-prod-table
          [unit]="unit"
          [col]="true"
          [expandable]="true"
        ></app-prod-table>
      </nz-card>
      <nz-card nzSize="small" *ngIf="unit.limitStack">
        <app-storage [unit]="unit"> </app-storage>
      </nz-card>
    </div>
  </div>
</div>
