<div fxLayout="column" fxLayout.gt-xs="row wrap" fxLayoutGap="10px">
  <div
    fxFlex.xs="0 0 calc(100%)"
    fxFlex.sm="0 0 calc(50% -10px)"
    fxFlex.md="0 0 calc(50% -10px)"
    fxFlex.lg="0 0 calc(60% -10px)"
    fxFlex.xl="0 0 calc(60% -10px)"
    fxLayout="column"
    fxLayoutGap="12px"
  >
    <app-unit-card *ngIf="unit" [unit]="unit"> </app-unit-card>
    <app-unit-card *ngIf="building" [unit]="building"> </app-unit-card>
    <app-unit-card *ngIf="storage" [unit]="storage"> </app-unit-card>
  </div>

  <div
    fxFlex.xs="0 0 calc(100%)"
    fxFlex.sm="0 0 calc(50% -10px)"
    fxFlex.md="0 0 calc(50% -10px)"
    fxFlex.lg="0 0 calc(40% -10px)"
    fxFlex.xl="0 0 calc(40% -10px)"
  >
    <nz-card nzSize="small">
      <h3>{{ unit.name }} produces:</h3>
      <app-prod-table [unit]="unit" [col]="true"></app-prod-table>
    </nz-card>
  </div>
</div>
