app-mod-line {
  margin-bottom: 1rem;
}

td {
  min-width: 3rem;
}

.used {
  display: inline-block;
  min-width: 8rem;
}

.row-title {
  font-weight: 600;
  text-align: center;
}
.min-w {
  min-width: 4.5rem;
}
.req-head {
  min-width: 9rem;
}
