<div
  fxLayout="row"
  fxLayout.xs="column"
  fxLayoutGap.xs="1rem"
  fxLayoutGap="5rem"
>
  <div fxLayout="column" fxLayoutGap="1rem">
    <h1>{{ unit.name }}</h1>
    <app-mod-line
      *ngFor="let mod of unit.modStack.mods; trackBy: getModId"
      [mod]="mod"
      [uiQuantityString]="mod.uiQuantityString"
      [unit]="unit"
    ></app-mod-line>
    <nz-input-group nzCompact>
      <button nz-button nzType="primary">Confirm</button>
      <button nz-button nzType="default" (click)="cancel()">Cancel</button>
    </nz-input-group>
  </div>
  <div>
    <nz-table nzTemplateMode>
      <tbody>
        <tr>
          <td colspan="3" class="center"><strong>Production</strong></td>
        </tr>
        <tr *ngFor="let prod of unit.production">
          <td>
            {{ prod.product.name }}
          </td>
          <td style="min-width: 4rem;">
            <span class="monospace">{{ prod.prodPerSecFull | format }}</span>
          </td>
          <td style="min-width: 4rem;">
            <span class="monospace" [ngClass]="getProdClass(prod)">{{
              prod.prodPerSecMod | format
            }}</span>
          </td>
        </tr>
        <tr>
          <td colspan="3" class="center"><strong>Other</strong></td>
        </tr>
        <tr>
          <td>Price</td>
          <td>
            <span class="monospace">{{ unit.components | format }}</span>
          </td>
          <td>
            <span
              class="monospace"
              [ngClass]="getClass(unit.components, unit.componentsTemp, true)"
              >{{ unit.componentsTemp | format }}</span
            >
          </td>
        </tr>
        <tr>
          <td>Recycle</td>
          <td>
            <span class="monospace">{{ unit.recycle | format }}</span>
          </td>
          <td>
            <span
              class="monospace"
              [ngClass]="getClass(unit.recycle, unit.recycleTemp)"
              >{{ unit.recycleTemp | format }}</span
            >
          </td>
        </tr>
        <tr>
          <td>Max Drones</td>
          <td>
            <span class="monospace">{{ unit.limit | format }}</span>
          </td>
          <td>
            <span
              class="monospace"
              [ngClass]="getClass(unit.limit, unit.limitTemp)"
              >{{ unit.limitTemp | format }}</span
            >
          </td>
        </tr>
      </tbody>
    </nz-table>
  </div>
</div>
<!-- nzSize="middle" -->
