<div fxLayout="rows" fxLayout.lt-sm="column" fxLayoutGap="10px">
  <div fxFlex="1 1 calc(50% - 10px)">
    <h2 *ngIf="ms.game.enemyManager.currentEnemy">
      <i nz-icon [nzType]="ms.game.enemyManager.currentEnemy.icon"></i>
      {{ ms.game.enemyManager.currentEnemy.name }}
      <small
        >lv.
        {{ ms.game.enemyManager.currentEnemy.level | number: "1.0-0" }}

        <i nz-icon nzType="fa-s:arrows-alt-h" class="distance-icon"></i>
        <span>{{ ms.game.enemyManager.currentEnemy.distance | format }}</span>
      </small>
    </h2>
    <nz-button-group *ngIf="ms.game.enemyManager.currentEnemy">
      <button nz-button nzType="primary" (click)="attack(-1)">
        Attack All
      </button>
      <button nz-button nzType="" (click)="nuke()">
        Nuke
        <span class="monospace"
          >{{ needNuke | format }} ({{ nukePercent | percent }})</span
        >
      </button>
      <button nz-button nzType="danger" (click)="surrender()">
        Surrender
      </button>
    </nz-button-group>
    <!-- <nz-button-group>
      <button nz-button nzType="primary" (click)="attack(0)">Attack 1</button>
      <button nz-button nzType="primary" (click)="attack(1)">Attack 2</button>
      <button nz-button nzType="primary" (click)="attack(2)">Attack 3</button>
      <button nz-button nzType="primary" (click)="attack(3)">Attack 4</button>
      <button nz-button nzType="primary" (click)="attack(4)">Attack 5</button>
    </nz-button-group> -->

    <form nz-form [nzLayout]="'inline'" class="auto-attack-form">
      <nz-form-item>
        <nz-form-label nzFor="auto">Auto Attack</nz-form-label>
        <nz-form-control>
          <nz-switch
            name="auto"
            id="auto"
            [(ngModel)]="ms.game.enemyManager.autoAttackEnabled"
          ></nz-switch>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-control>
          <button nz-button nzType="default" (click)="autoAttackOptions = true">
            <i nz-icon nzType="setting" nzTheme="outline"></i>
            Options
          </button>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label nzFor="autoNext">Auto Next</nz-form-label>
        <nz-form-control>
          <nz-switch
            name="autoNext"
            id="autoNext"
            [(ngModel)]="ms.game.enemyManager.autoNext"
          ></nz-switch>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label nzFor="autoReinforce">Auto Reinforce</nz-form-label>
        <nz-form-control>
          <nz-switch
            name="autoReinforce"
            id="autoReinforce"
            [(ngModel)]="ms.game.shipyardManager.autoReinforce"
          ></nz-switch>
        </nz-form-control>
      </nz-form-item>
    </form>

    <app-battle-table
      *ngIf="ms.game.enemyManager.currentEnemy"
      [currentEnemy]="ms.game.enemyManager.currentEnemy"
    ></app-battle-table>
  </div>

  <div fxFlex="1 1 calc(50% - 10px)">
    <nz-tabset nzSize="small">
      <nz-tab nzTitle="Status"><app-fleets-view></app-fleets-view> </nz-tab>
      <nz-tab nzTitle="Fleet 1">
        <app-ships-view
          [designs]="ms.game.shipyardManager.shipDesigns"
          fleetNum="0"
          nzSize="small"
          update="true"
        >
        </app-ships-view>
      </nz-tab>
      <nz-tab nzTitle="Fleet 2">
        <app-ships-view
          [designs]="ms.game.shipyardManager.shipDesigns"
          fleetNum="1"
          nzSize="small"
          update="true"
        >
        </app-ships-view>
      </nz-tab>
      <nz-tab nzTitle="Fleet 3">
        <app-ships-view
          [designs]="ms.game.shipyardManager.shipDesigns"
          fleetNum="2"
          nzSize="small"
          update="true"
        >
        </app-ships-view>
      </nz-tab>
      <nz-tab nzTitle="Fleet 4">
        <app-ships-view
          [designs]="ms.game.shipyardManager.shipDesigns"
          fleetNum="3"
          nzSize="small"
          update="true"
        >
        </app-ships-view>
      </nz-tab>
      <nz-tab nzTitle="Fleet 4">
        <app-ships-view
          [designs]="ms.game.shipyardManager.shipDesigns"
          fleetNum="4"
          nzSize="small"
          update="true"
        >
        </app-ships-view>
      </nz-tab>
    </nz-tabset>

    <br />
    <ng-container *ngIf="ms.game.enemyManager.currentEnemy">
      <h3>
        {{ ms.game.enemyManager.currentEnemy.name }}
        <small></small>
      </h3>
      <nz-select [(ngModel)]="cell" nzPlaceHolder="Choose">
        <nz-option
          *ngFor="let cell of activeCells; trackBy: getCellId"
          [nzValue]="cell.value"
          [nzLabel]="cell.label"
        ></nz-option>
        <nz-option nzValue="-1" nzLabel="Design"></nz-option>
      </nz-select>
      <app-ships-view
        *ngIf="ms.game.enemyManager.currentEnemy"
        [designs]="ms.game.enemyManager.currentEnemy.designs"
        [isEnemy]="true"
        [enemyCell]="true"
        [fleetNum]="cell"
        nzSize="small"
        update="true"
      ></app-ships-view
    ></ng-container>
  </div>
</div>

<nz-drawer
  [nzBodyStyle]="{
    height: 'calc(100% - 55px)',
    overflow: 'auto',
    'padding-bottom': '53px'
  }"
  [nzMaskClosable]="true"
  [nzWidth]="300"
  [nzVisible]="autoAttackOptions"
  nzTitle="Auto Attack Option"
  (nzOnClose)="autoAttackOptions = false"
>
  <app-auto-attack-options></app-auto-attack-options>
</nz-drawer>
