nz-select {
  width: 150px;
}

nz-button-group {
  display: block;
  margin-bottom: 0.5rem;
}

h3 {
  display: inline;
  margin-right: 0.5rem;
}

.auto-attack-form {
  margin-bottom: 0.5rem;
}
.distance-icon {
  margin-left: 0.3rem;
}
.nuke-btn {
  min-width: 5rem;
}
