<div fxLayout="rows" fxLayout.lt-sm="column" fxLayoutGap="10px">
  <div *ngIf="ms.game.enemyManager.currentEnemy" fxFlex="1 1 calc(50% - 10px)">
    <h1>
      {{ ms.game.enemyManager.currentEnemy.name }}
      <small
        >lv.
        {{ ms.game.enemyManager.currentEnemy.level | number: "1.0-0" }}</small
      >
    </h1>
    <nz-button-group>
      <button nz-button nzType="primary" (click)="attack(-1)">
        Attack All
      </button>
      <button nz-button nzType="" (click)="nuke()">
        Nuke
        <span class="monospace"
          >{{ needNuke | format }} ({{ nukePercent | percent }})</span
        >
      </button>
      <button nz-button nzType="danger" (click)="surrender()">
        Surrender
      </button>
    </nz-button-group>
    <!-- <nz-button-group>
      <button nz-button nzType="primary" (click)="attack(0)">Attack 1</button>
      <button nz-button nzType="primary" (click)="attack(1)">Attack 2</button>
      <button nz-button nzType="primary" (click)="attack(2)">Attack 3</button>
      <button nz-button nzType="primary" (click)="attack(3)">Attack 4</button>
      <button nz-button nzType="primary" (click)="attack(4)">Attack 5</button>
    </nz-button-group> -->

    <form nz-form [nzLayout]="'inline'" class="auto-attack-form">
      <nz-form-item>
        <nz-form-label nzFor="auto">Auto Attack</nz-form-label>
        <nz-form-control>
          <nz-switch
            name="auto"
            id="auto"
            [(ngModel)]="ms.game.enemyManager.autoAttackEnabled"
          ></nz-switch>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-control>
          <button nz-button nzType="primary" (click)="autoAttackOptions = true">
            Options
          </button>
        </nz-form-control>
      </nz-form-item>
    </form>

    <app-battle-table></app-battle-table>
  </div>

  <div fxFlex="1 1 calc(50% - 10px)">
    <h3>You</h3>
    <nz-select [(ngModel)]="fleetNum" nzPlaceHolder="Choose">
      <nz-option nzValue="0" nzLabel="Fleet 1"></nz-option>
      <nz-option nzValue="1" nzLabel="Fleet 2"></nz-option>
      <nz-option nzValue="2" nzLabel="Fleet 3"></nz-option>
      <nz-option nzValue="3" nzLabel="Fleet 4"></nz-option>
      <nz-option nzValue="4" nzLabel="Fleet 5"></nz-option>
    </nz-select>

    <app-ships-view
      [designs]="ms.game.shipyardManager.shipDesigns"
      [fleetNum]="fleetNum"
      nzSize="small"
      update="true"
    ></app-ships-view>

    <br />
    <h3 *ngIf="ms.game.enemyManager.currentEnemy">
      {{ ms.game.enemyManager.currentEnemy.name }}
      <small></small>
    </h3>
    <nz-select [(ngModel)]="cell" nzPlaceHolder="Choose">
      <nz-option
        *ngFor="let cell of activeCells; trackBy: getCellId"
        [nzValue]="cell.value"
        [nzLabel]="cell.label"
      ></nz-option>
      <nz-option nzValue="-1" nzLabel="Design"></nz-option>
    </nz-select>
    <app-ships-view
      *ngIf="ms.game.enemyManager.currentEnemy"
      [designs]="ms.game.enemyManager.currentEnemy.designs"
      [isEnemy]="true"
      [enemyCell]="true"
      [fleetNum]="cell"
      nzSize="small"
      update="true"
    ></app-ships-view>
  </div>
</div>

<nz-drawer
  [nzBodyStyle]="{
    height: 'calc(100% - 55px)',
    overflow: 'auto',
    'padding-bottom': '53px'
  }"
  [nzMaskClosable]="true"
  [nzWidth]="300"
  [nzVisible]="autoAttackOptions"
  nzTitle="Auto Attack Option"
  (nzOnClose)="autoAttackOptions = false"
>
  <app-auto-attack-options></app-auto-attack-options>
</nz-drawer>
