<nz-table nzTemplateMode nzSize="middle">
  <thead>
    <tr>
      <th nzWidth="5em" class="fleet-th-1"></th>
      <th class="fleet-th" nzWidth="5rem">Fleet 1</th>
      <th class="fleet-th" nzWidth="5rem">Fleet 2</th>
      <th class="fleet-th" nzWidth="5rem">Fleet 3</th>
      <th class="fleet-th" nzWidth="5rem">Fleet 4</th>
      <th class="fleet-th" nzWidth="5rem">Fleet 5</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="fleet-td-1"><span>Cell</span></td>
      <td *ngFor="let i of fleets">
        <span *ngIf="ms.game.enemyManager.fleetsInBattle[i]" class="monospace">
          {{ ms.game.enemyManager.fleetsInBattle[i].index + 1 | number }}</span
        >
      </td>
    </tr>
    <tr>
      <td class="fleet-td-1"><span>Eta</span></td>
      <td *ngFor="let i of fleets">
        <span *ngIf="ms.game.enemyManager.fleetsInBattle[i]" class="monospace">
          {{ getEta(i) | date: "mm:ss:S" }}
        </span>
      </td>
    </tr>
    <tr>
      <td class="fleet-td-1">
        <span nz-tooltip nzTooltipTitle="Strength">Str.</span>
      </td>
      <td *ngFor="let i of fleets">
        <span class="monospace">
          {{
            ms.game.shipyardManager.fleetsPercent[i] / 100 | percent: "1.0-0"
          }}
        </span>
      </td>
    </tr>
    <tr>
      <td class="fleet-td-1">
        <span
          nz-tooltip
          nzTooltipTitle="Increase metal, energy and components gained from battles"
          >Cargo</span
        >
      </td>
      <td *ngFor="let i of fleets">
        <span class="monospace"> +{{ cargo[i] | format }}% </span>
      </td>
    </tr>
    <tr>
      <td class="fleet-td-1">
        <span
          nz-tooltip
          nzTooltipTitle="Increase science and search gained from battle"
          >Lab</span
        >
      </td>
      <td *ngFor="let i of fleets">
        <span class="monospace"> +{{ lab[i] | format }}% </span>
      </td>
    </tr>
  </tbody>
</nz-table>
