<nz-card
  style="width:100%;"
  [nzTitle]="titleTemplate"
  [nzExtra]="extraTemplate"
>
  <p>{{ job.description }}</p>
  <i nz-icon nzType="clock-circle" nzTheme="outline"></i>

  <span class="monospace">
    {{ job.timeToEnd | time }}
    <span class="right">
      {{ job.progress | format }}/{{ job.total | format }}
      {{ job.progressPercent }}%</span
    >
  </span>

  <app-progress [progress]="job.progressPercent"></app-progress>
</nz-card>

<ng-template #extraTemplate>
  <span *ngIf="research" class="monospace">
    +{{ research.totalBonusUi | format }}%
  </span>
</ng-template>

<ng-template #titleTemplate>
  {{ job.name }}
  <span
    *ngFor="let item of icons; trackBy: getIconId"
    [style.color]="item.color"
    ><i nz-icon [nzType]="item.icon"></i
  ></span>
</ng-template>
