// :host::ng-deep .ant-card-body {
//   padding-bottom: 0;
// }
.space {
  margin-right: 0.2rem;
}
.description {
  white-space: pre-line;
}
.job-card {
  width: 100%;
}
.job-content {
  padding: 8px;
}
.buttons {
  padding-top: 3px;
  padding-bottom: 3px;
}
p {
  margin-bottom: 0;
}
