.moduleIcon {
  font-size: 250%;
  margin-right: 1rem;
}

.firstLine {
  display: block;
  margin-bottom: 0.2rem;
}

.lockIcon {
  margin-left: 0.5rem;
}

.modRow {
  width: 100%;
}

.techLine {
  margin-right: 0.5rem;

  i {
    font-size: 150%;
  }
}

nz-select {
  width: 10rem;
}

h1 {
  display: inline;
  margin-right: 3rem;
}

nz-list {
  margin-bottom: 1rem;
}
