<h1>Ship Modules</h1>

<nz-select [(ngModel)]="type" (ngModelChange)="reload()">
  <nz-option nzValue="a" nzLabel="All Types"></nz-option>
  <nz-option nzValue="w" nzLabel="Weapons"></nz-option>
  <nz-option nzValue="d" nzLabel="Defences"></nz-option>
  <nz-option nzValue="g" nzLabel="Generators"></nz-option>
  <nz-option nzValue="t" nzLabel="Thrusters"></nz-option>
  <nz-option nzValue="o" nzLabel="Others"></nz-option>
</nz-select>
<nz-select [(ngModel)]="status" (ngModelChange)="reload()">
  <nz-option nzValue="a" nzLabel="All Statuses"></nz-option>
  <nz-option nzValue="u" nzLabel="Unlocked"></nz-option>
  <nz-option nzValue="l" nzLabel="Locked"></nz-option>
</nz-select>

<nz-list [nzDataSource]="modules" nzBordered [nzRenderItem]="moduleItem">
  <ng-template #moduleItem let-mod>
    <nz-list-item>
      <div
        fxLayout="rows wrap"
        fxLayoutAlign="center center"
        class="modRow"
        fxLayoutAlign="start"
      >
        <div>
          <i
            nz-icon
            [nzType]="mod.shape"
            nzTheme="outline"
            class="moduleIcon"
          ></i>
        </div>
        <div
          fxFlex.xs="calc(100% - 60px)"
          fxFlex.sm="0 1 calc(60% - 60px)"
          fxFlex.md="0 1 calc(50% - 60px)"
          fxFlex.gt-md="0 1 calc(40% - 60px)"
        >
          <span class="firstLine">
            <strong>{{ mod.name }}</strong>
            <i
              *ngIf="!mod.unlocked"
              nz-icon
              nzType="lock"
              nzTheme="outline"
              class="lockIcon"
            ></i>
            <span
              class="monospace"
              nz-tooltip
              nzTooltipTitle="Max Leve / Unlock Level"
            >
              {{ mod.maxLevel | format: true
              }}<span *ngIf="!mod.unlocked"
                >/{{ mod.unlockLevel | format: true }}</span
              >
            </span>
          </span>
          <app-module-info [mod]="mod"></app-module-info>
        </div>
        <div fxLayout="row wrap">
          <span
            *ngFor="let item of mod.technologies"
            nz-tooltip
            [nzTooltipTitle]="item.technology.name"
            class="techLine"
            fxLayout="row"
            fxLayoutAlign="center center"
            fxLayoutGap="0.3rem"
          >
            <i
              nz-icon
              [nzType]="item.technology.icon"
              [style.color]="item.technology.color"
            ></i>
            <span class="monospace">{{ item.multi * 100 | format }}%</span>
          </span>
        </div>
      </div>
    </nz-list-item>
  </ng-template>
</nz-list>
