<h2>
  Experience
  <span class="monospace">
    {{ ms.game.prestigeManager.experience | format: true:6 }}
  </span>
</h2>
<p>
  Spend your experience here. Experience spent are multiplied by
  <strong class="monospace">
    {{ ms.game.prestigeManager.prestigeMultiplier | format }}
  </strong>
</p>

<nz-tabset>
  <nz-tab
    *ngFor="let tab of ms.game.prestigeManager.tabs; trackBy: getTabId"
    [nzTitle]="titleTemplate"
  >
    <ng-template #titleTemplate>
      <i nz-icon [nzType]="tab.icon"></i>
      {{ tab.name }}
    </ng-template>
    <app-shop [prestiges]="tab.prestige"></app-shop>
  </nz-tab>

  <nz-tab [nzTitle]="techListTitle">
    <nz-tabset
      nzTabPosition="left"
      [nzTabBarExtraContent]="extraTemplate"
      class="tec-list"
    >
      <nz-tab
        *ngFor="let tab of ms.game.prestigeManager.techTabs; trackBy: getTabId"
        [nzTitle]="techTitleTemplate"
      >
        <ng-template #techTitleTemplate>
          <i nz-icon [nzType]="tab.icon"></i>
          {{ techExpanded ? tab.name : "" }}
        </ng-template>
        <app-shop [prestiges]="tab.prestige"></app-shop>
      </nz-tab>
    </nz-tabset>
  </nz-tab>
</nz-tabset>

<ng-template #techListTitle>
  <i nz-icon nzType="fa-s:book"></i>
  Technologies
</ng-template>

<ng-template #extraTemplate>
  <button
    nz-button
    nzType="text"
    nzBlock
    (click)="techExpanded = !techExpanded"
  >
    <i nz-icon [nzType]="techExpanded ? 'left' : 'right'"></i>
  </button>
</ng-template>
