<h1>Technologies</h1>

<div fxLayout="row wrap">
  <div
    class="tech-container"
    fxFlex="100%"
    fxFlex.gt-md="0.5 1 50%"
    *ngFor="
      let tech of ms.game.researchManager.unlockedTechnologies;
      trackBy: getTechId
    "
  >
    <div
      fxLayout="row"
      fxLayout.lt-sm="column"
      class="zero"
      fxLayoutAlign="space-between"
    >
      <h3 fxLayout="row" fxLayoutGap="0.5rem">
        <i nz-icon [nzType]="tech.icon" [style.color]="tech.color"></i>
        <span>
          {{ tech.name }}:
          <span class="monospace">{{
            tech.quantity | format: true
          }}</span></span
        >
      </h3>
      <span class="monospace"
        >{{ tech.progress | format: true }}/{{
          tech.total | format: true
        }}</span
      >
      <div fxFlexAlign="start">
        Priority:
        <nz-input-number
          [(ngModel)]="tech.priority"
          nzMin="0"
          nzMax="100"
          nzStep="1"
          nzSize="small"
          style="max-height: 24px"
        ></nz-input-number>
      </div>
    </div>

    <app-progress [progress]="tech.progressPercent"></app-progress>
  </div>
</div>
