:host ::ng-deep .ant-card-head-title {
  white-space: break-spaces;
}
:host ::ng-deep p {
  margin-bottom: 0;
}
:host ::ng-deep .ant-card-small > .ant-card-body {
  padding-top: 5px;
}
:host ::ng-deep .ant-card-small > .ant-card-body {
  padding-bottom: 6px;
}
:host ::ng-deep .card-req {
  float: right;
}
