<div
  fxLayout="row wrap"
  fxLayout.lt-sm="column"
  fxLayoutAlign="flex-start"
  fxLayoutGap.gt-sm="10px"
>
  <div fxFlex.lt-sm="100%" fxFlex="0 1 calc(55% - 10px)" fxFlex.lt-md="100%">
    <h2>Space Stations</h2>

    <label>Civilian Work Priority: {{ ms.game.civilianWorkPercent }}% </label>
    <nz-slider
      [(ngModel)]="ms.game.civilianWorkPercent"
      nzSize="small"
      [nzTipFormatter]="formatter"
    ></nz-slider>

    <nz-table
      #stationsTable
      nzSize="middle"
      [nzData]="listOfStations"
      [nzShowPagination]="false"
    >
      <thead (nzSortChange)="sort($event)" nzSingleSort>
        <tr>
          <th nzShowSort nzSortKey="id">Name</th>
          <th nzShowSort nzSortKey="buildPriceNext">
            <i
              nz-icon
              [nzType]="ms.game.resourceManager.shipyardWork.icon"
              [ngClass]="ms.game.resourceManager.shipyardWork.colorClass"
            ></i>
            Price
          </th>
          <th nzShowSort nzSortKey="habSpace">
            <i
              nz-icon
              [ngClass]="ms.game.resourceManager.habitableSpace.colorClass"
              [nzType]="ms.game.resourceManager.habitableSpace.icon"
            ></i>
            Hab. Space
          </th>
          <th nzShowSort nzSortKey="habSpaceDivPrice">
            1e12 Space/Price
          </th>
          <th>Queue?</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of stationsTable.data; trackBy: getUnitId">
          <td>{{ data.name }}</td>
          <td class="monospace">{{ data.buildPriceNext | format }}</td>
          <td class="monospace">{{ data.habSpace | format }}</td>
          <td class="monospace">{{ data.habSpaceDivPrice | format }}</td>
          <td>
            <button
              nz-button
              nzType="primary"
              nzSize="small"
              (click)="addStation(data)"
            >
              Queue
            </button>
          </td>
        </tr>
      </tbody>
    </nz-table>
  </div>
  <div
    fxFlex.lt-md="100%"
    fxFlex.md="0 1 calc(40% - 10px)"
    fxFlex.lg="0 1 calc(35% - 10px)"
    fxFlex.xl="0 1 calc(30% - 10px)"
  >
    <h2>Jobs</h2>
    <div
      cdkDropList
      [cdkDropListData]="ms.game.spaceStationManager.toDo"
      class="job-list"
      (cdkDropListDropped)="drop($event)"
    >
      <app-job
        cdkDrag
        class="job-box"
        *ngFor="let resToDo of ms.game.spaceStationManager.toDo"
        [job]="resToDo"
        [collection]="ms.game.spaceStationManager.toDo"
      ></app-job>
    </div>
  </div>
</div>
