<div
  fxLayout="row wrap"
  fxLayout.lt-sm="column"
  fxLayoutAlign="flex-start"
  fxLayoutGap.gt-sm="10px"
>
  <div fxFlex.lt-sm="100%" fxFlex="0 1 calc(55% - 10px)" fxFlex.lt-md="100%">
    <h1>Space Stations</h1>

    <label>Civilian Work Priority: {{ ms.game.civilianWorkPercent }}% </label>
    <nz-slider
      [(ngModel)]="ms.game.civilianWorkPercent"
      nzSize="small"
      [nzTipFormatter]="formatter"
    ></nz-slider>

    <nz-table nzTemplateMode nzSize="middle">
      <thead>
        <tr>
          <th>Name</th>
          <th>
            <i
              nz-icon
              [nzType]="ms.game.resourceManager.shipyardWork.icon"
              [ngClass]="ms.game.resourceManager.shipyardWork.colorClass"
            ></i>
            Price
          </th>
          <th>
            <i
              nz-icon
              [ngClass]="ms.game.resourceManager.habitableSpace.colorClass"
              [nzType]="ms.game.resourceManager.habitableSpace.icon"
            ></i>
            Hab. Space
          </th>
          <th>Queue?</th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="
            let station of ms.game.resourceManager.unlockedSpaceStations;
            trackBy: getUnitId
          "
        >
          <td>{{ station.name }}</td>
          <td class="monospace">{{ station.buildPriceNext | format }}</td>
          <td class="monospace">{{ station.habSpace | format }}</td>
          <td>
            <button
              nz-button
              nzType="primary"
              nzSize="small"
              (click)="addStation(station)"
            >
              Queue
            </button>
          </td>
        </tr>
      </tbody>
    </nz-table>
  </div>
  <div
    fxFlex.lt-md="100%"
    fxFlex.md="0 1 calc(40% - 10px)"
    fxFlex.lg="0 1 calc(35% - 10px)"
    fxFlex.xl="0 1 calc(30% - 10px)"
  >
    <h1>Jobs</h1>
    <div
      cdkDropList
      [cdkDropListData]="ms.game.spaceStationManager.toDo"
      class="job-list"
      (cdkDropListDropped)="drop($event)"
    >
      <app-job
        cdkDrag
        class="job-box"
        *ngFor="let resToDo of ms.game.spaceStationManager.toDo"
        [job]="resToDo"
        [collection]="ms.game.spaceStationManager.toDo"
      ></app-job>
    </div>
  </div>
</div>
