.unit-container {
  margin-top: 0.5rem;

  i {
    margin-right: 0.3rem;
  }

  button {
    width: 100%;
  }
}
.megastructures {
  margin-top: 0.5rem;
}
.mega-button {
  margin-right: 0.5rem;
}
.min-width {
  display: inline-block;
  text-align: left;
  width: 2rem;
}
.mega-recap {
  margin-bottom: 0.5rem;
}
