<nz-layout class="app-layout">
  <nz-sider
    class="menu-sidebar"
    nzCollapsible
    nzWidth="256px"
    nzBreakpoint="md"
    [(nzCollapsed)]="ms.isCollapsed"
    [nzTheme]="ms.sideTheme"
  >
    <app-side-menu></app-side-menu>
  </nz-sider>
  <nz-layout>
    <nz-header>
      <div class="app-header">
        <div class="headerRow">
          <span class="header-trigger t2" (click)="visible = !visible">
            <i
              class="trigger"
              nz-icon
              [nzType]="ms.isCollapsed ? 'menu-unfold' : 'menu-fold'"
            ></i>
          </span>

          <app-material-top></app-material-top>

          <div class="header-right">
            <nz-badge [nzCount]="5">
              <i nz-icon nzType="bell" nzTheme="outline"></i>
            </nz-badge>
          </div>
        </div>
      </div>
    </nz-header>
    <nz-content>
      <div class="inner-content">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
  </nz-layout>
</nz-layout>

<nz-drawer
  [nzClosable]="false"
  [nzVisible]="visible"
  nzPlacement="left"
  nzTitle=""
  (nzOnClose)="close()"
  [nzBodyStyle]="{ padding: 0 }"
>
  <app-side-menu [notCollapsed]="true"></app-side-menu>
</nz-drawer>
