:host {
  display: flex;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.headerRow {
  display: flex;
  flex-flow: row wrap;
  align-items: stretch;
}
app-material-top {
  flex: 1 0;
  line-height: 1rem;
}

.app-layout {
  height: 100vh;
}

.menu-sidebar {
  position: relative;
  z-index: 10;
  min-height: 100vh;
}

.header-trigger {
  height: 64px;
  font-size: 20px;
  cursor: pointer;
  transition: all 0.3s, padding 0s;
}

nz-header {
  padding: 0;
  width: 100%;
  z-index: 2;
}

.app-header {
  position: relative;
  padding: 0;
}

nz-content {
  margin: 24px;
}
.inner-content {
  padding: 24px;
  min-height: 360px;
}
:host ::ng-deep .header-right {
  height: 100%;
  overflow: hidden;
  padding-right: 2rem;
  i {
    font-size: 16px;
  }
  .ant-badge-count,
  .ant-badge-dot,
  .ant-badge .ant-scroll-number-custom-component {
    right: -7px;
  }
}
:host ::ng-deep .ant-layout-header {
  height: auto;
}
@media only screen and (max-width: 700px) {
  nz-sider {
    display: none;
  }
  .t1 {
    display: none;
  }
  .headerRow {
    justify-content: space-between;
  }
  header-right {
    flex-basis: 100%;
  }
  app-material-top {
    order: 3;
    flex-basis: 100%;
  }
}

@media only screen and (min-width: 700px) {
  .t2 {
    display: none;
  }
}
