:host {
  display: flex;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

.headerRow {
  align-content: center;
  align-items: center;
  display: flex;
  flex-flow: row wrap;
}

app-material-top {
  flex: 1 0;
  line-height: 1rem;
}

.header-trigger {
  cursor: pointer;
  font-size: 20px;
  transition: all 0.3s, padding 0s;
}

nz-header {
  padding: 0;
  width: 100%;
  z-index: 2;
}

.app-header {
  padding: 0;
  position: relative;
}

:host ::ng-deep .header-right {
  height: 100%;
  overflow: hidden;
  padding-right: 2rem;

  i {
    font-size: 16px;
  }

  .ant-badge-count,
  .ant-badge-dot,
  .ant-badge .ant-scroll-number-custom-component {
    right: -7px;
  }
}

:host ::ng-deep .ant-layout-header {
  height: auto;
}

@media only screen and (max-width: 700px) {
  nz-sider {
    display: none;
  }

  .t1 {
    display: none;
  }

  .headerRow {
    justify-content: space-between;
  }
}

@media only screen and (min-width: 700px) {
  .t2 {
    display: none;
  }
  .app-layout {
    height: 100vh;
  }
}

.pad {
  margin-left: 30px;
}
.ant-notification-notice-description {
  white-space: pre-wrap;
}
app-spell-bar {
  bottom: 0;
  left: 50%;
  position: fixed;
  z-index: 10;
}
