.name {
  min-width: 30%;
  display: inline-block;
}
.perSec {
  min-width: 25%;
  display: inline-block;
  text-align: center;
  font-size: 95%;
}
.quantity {
  min-width: 30%;
  display: inline-block;
  text-align: right;
  float: right;
  font-size: 95%;
}
