.name {
  display: inline-block;
  min-width: 30%;
}
.perSec {
  display: inline-block;
  font-size: 95%;
  min-width: 25%;
  text-align: center;
}
.quantity {
  display: inline-block;
  float: right;
  font-size: 95%;
  min-width: 30%;
  text-align: right;
}
