<h2>Priorities</h2>

<div fxLayout="column">
  <div class="priority-container">
    <h3>
      Research Priority:
      <nz-input-number
        [(ngModel)]="ms.game.researchManager.researchPriority"
        [nzMin]="0"
        [nzMax]="100"
        [nzStep]="1"
        [nzSize]="'small'"
      ></nz-input-number>
    </h3>
    <nz-slider
      [(ngModel)]="ms.game.researchManager.researchPriority"
    ></nz-slider>
  </div>
  <div class="priority-container">
    <h3>
      Technology Priority:
      <nz-input-number
        [(ngModel)]="ms.game.researchManager.technologiesPriority"
        [nzMin]="0"
        [nzMax]="100"
        [nzStep]="1"
        [nzSize]="'small'"
      ></nz-input-number>
    </h3>
    <nz-slider
      [(ngModel)]="ms.game.researchManager.technologiesPriority"
    ></nz-slider>
  </div>
  <div class="priority-container">
    <h3>
      Special Project Priority:
      <nz-input-number
        [(ngModel)]="ms.game.researchManager.specialProjectsPriority"
        [nzMin]="0"
        [nzMax]="100"
        [nzStep]="1"
        [nzSize]="'small'"
      ></nz-input-number>
    </h3>
    <nz-slider
      [(ngModel)]="ms.game.researchManager.specialProjectsPriority"
    ></nz-slider>
  </div>
</div>
