<div
  class="cell"
  nz-popover
  [nzPopoverContent]="contentTemplate"
  nzPopoverPlacement="bottomCenter"
>
  <!-- *ngIf="cell?.materials?.length > 0" -->
  <i
    *ngFor="let mat of cell?.materials"
    nz-icon
    [nzType]="mat.material.icon"
  ></i>
  <ng-template #contentTemplate>
    <strong
      ><span class="monospace"># {{ cell.index + 1 }}</span></strong
    >
    <ul class="list-unstyled">
      <li
        *ngFor="let mat of cell.materials"
        [ngClass]="mat.material.colorClass"
      >
        <i nz-icon [nzType]="mat.material.icon" class="matIcon"></i>
        <span class="monospace">{{ mat.quantity | format }}</span>
      </li>
    </ul>
  </ng-template>
</div>
