<form nz-form>
  <ng-container
    *ngFor="let opt of ms.game.enemyManager.autoAttackOptions; let i = index"
  >
    <label
      nz-checkbox
      [(ngModel)]="opt.autoAttack"
      [name]="'en' + i"
      [id]="'en' + i"
      >Enable Fleet {{ i + 1 }}</label
    >

    <nz-form-item>
      <nz-form-label [nzFor]="'minP' + i">Min ships %</nz-form-label>
      <nz-form-control>
        <nz-input-number
          [nzSize]="'small'"
          [(ngModel)]="opt.minPercent"
          [nzMin]="0"
          [nzMax]="100"
          [nzStep]="1"
          [name]="'minP' + i"
          [id]="'minP' + i"
        ></nz-input-number>
      </nz-form-control>
    </nz-form-item>
  </ng-container>
</form>
