<h2>Automation</h2>

<form nz-form nzLayout="inline">
  <nz-form-item>
    <nz-form-label nz-popover> Global Automation ON </nz-form-label>
    <nz-form-control>
      <nz-input-group nzCompact>
        <nz-switch
          name="auto-on"
          [(ngModel)]="ms.game.automationManager.on"
          nzSize="small"
        ></nz-switch>
      </nz-input-group>
    </nz-form-control>
  </nz-form-item>
</form>

<div fxLayout="row wrap" fxLayoutGap="5px">
  <nz-card
    nzTitle="Fleet design updater"
    [nzExtra]="fleetUpInfo"
    nzSize="small"
    style="width: 200px"
  >
    <app-auto-fleet-up></app-auto-fleet-up>
  </nz-card>
  <ng-template #fleetUpInfo>
    <i
      nz-icon
      nzType="info-circle"
      nzTheme="outline"
      class="info-icon"
      nz-popover
      nzPopoverTitle="Fleet design updater"
      [nzPopoverContent]="fleetUpDesc"
    ></i>
  </ng-template>
  <ng-template #fleetUpDesc>
    <p class="auto-description">
      Automatically update design's module level. Update only design with at
      leat one ship. 'Fleet design updater' will not downgrade ships levels.
      <br />
      <strong>'Max ratio'</strong> is the maximum 'work per second'/'average
      module price', increasing it will result in higher but also expensive
      module levels.
    </p>
  </ng-template>

  <nz-card nzTitle="Auto search" nzSize="small" style="width: 270px">
    <app-auto-search></app-auto-search>
  </nz-card>
  <nz-card nzTitle="Auto space stations" nzSize="small" style="width: 270px">
    <app-auto-space></app-auto-space>
  </nz-card>
  <nz-card
    nzTitle="Auto infrastructure"
    *ngIf="
      ms.game.challengeManager.expandingChallenge.quantity.gte(
        INFRASTRUCTURE_AUTO_LEVEL
      )
    "
    nzSize="small"
    style="width: 270px"
  >
    <app-auto-infra></app-auto-infra>
  </nz-card>
  <nz-card nzTitle="Auto surrender" nzSize="small" style="width: 270px">
    <app-auto-surrender></app-auto-surrender>
  </nz-card>
  <nz-card nzTitle="Auto Refresh" nzSize="small" style="width: 270px">
    <app-auto-refresh></app-auto-refresh>
  </nz-card>
  <nz-card nzTitle="Auto 100%" nzSize="small" style="width: 270px">
    <app-auto-full></app-auto-full>
  </nz-card>
  <nz-card
    *ngIf="ms.game.prestigeManager.autoPrestigeCard.active"
    nzTitle="Auto Prestige"
    nzSize="small"
    style="width: 500px"
  >
    <app-auto-prestige></app-auto-prestige>
  </nz-card>
  <nz-card
    nzTitle="Auto Warp"
    nzSize="small"
    *ngIf="ms.game.prestigeManager.autoWarp.active"
    style="width: 450px"
  >
    <app-auto-warp></app-auto-warp>
  </nz-card>
  <nz-card
    *ngIf="ms.game.prestigeManager.megaAutomationCard.active"
    nzTitle="Auto Megastructures"
    nzSize="small"
    class="auto-mega"
  >
    <app-auto-mega></app-auto-mega>
  </nz-card>
</div>
