<table>
  <!-- <thead>
    <tr>
      <th></th>
      <th>Quantity</th>
      <th>Effect</th>
      <th>Total</th>
    </tr>
  </thead> -->
  <tbody>
    <tr>
      <td>Base</td>
      <td></td>
      <td></td>
      <td>
        <span
          class="monospace"
          nz-text
          [nzType]="data.ratio.gte(0) ? '' : 'danger'"
          >{{ data.ratio | format }}</span
        >
      </td>
    </tr>
    <tr *ngFor="let d of subData; trackBy: getIndex">
      <td>{{ d.what }}</td>
      <td>
        <span
          class="monospace"
          nz-text
          [nzType]="d.quantity.gte(0) ? '' : 'danger'"
          >{{ d.quantity | format }}</span
        >
      </td>
      <td>
        x
        <span
          class="monospace"
          nz-text
          [nzType]="d.effect.gte(0) ? '' : 'danger'"
          >{{ d.effect | format }}</span
        >
      </td>
      <td>
        =
        <span
          class="monospace"
          nz-text
          [nzType]="d.total.gte(0) ? '' : 'danger'"
          >{{ d.total | format }}</span
        >%
      </td>
    </tr>
  </tbody>
</table>
