<nz-table nzTemplateMode nzSize="small" *ngIf="subData.length > 0">
  <tbody>
    <tr *ngFor="let d of subData; trackBy: getIndex">
      <td>{{ d.what }}</td>
      <!-- <td>
        <span
          class="monospace"
          nz-text
          [nzType]="d.quantity.gte(0) ? '' : 'danger'"
          >{{ d.quantity | format }}</span
        >
      </td>
      <td>
        x
        <span
          class="monospace"
          nz-text
          [nzType]="d.effect.gte(0) ? '' : 'danger'"
          >{{ d.effect | format }}%</span
        >
      </td> -->
      <td>
        =
        <span
          class="monospace"
          nz-text
          [nzType]="d.total.gte(0) ? '' : 'danger'"
          >x{{ d.total | format }}%</span
        >
      </td>
    </tr>
  </tbody>
</nz-table>
