<nz-table nzTemplateMode nzSize="small">
  <!-- <thead>
    <tr>
      <th></th>
      <th>Quantity</th>
      <th>Effect</th>
      <th>Total</th>
    </tr>
  </thead> -->
  <tbody>
    <!-- <tr>
      <td>Base</td>
      <td class="monospace">{{ this.data.ratio }}</td>
      <td class="monospace">{{ this.unit.operativity | format }}%</td>
      <td>
        <span
          class="monospace"
          nz-text
          [nzType]="data.ratio.gte(0) ? '' : 'danger'"
          >{{ data.ratio.times(this.unit.operativity).div(100) | format }}</span
        >
      </td>
    </tr> -->
    <tr *ngFor="let d of subData; trackBy: getIndex">
      <td>{{ d.what }}</td>
      <td>
        <span
          class="monospace"
          nz-text
          [nzType]="d.quantity.gte(0) ? '' : 'danger'"
          >{{ d.quantity | format }}</span
        >
      </td>
      <td>
        x
        <span
          class="monospace"
          nz-text
          [nzType]="d.effect.gte(0) ? '' : 'danger'"
          >{{ d.effect | format }}%</span
        >
      </td>
      <td>
        =
        <span
          class="monospace"
          nz-text
          [nzType]="d.total.gte(0) ? '' : 'danger'"
          >x{{ d.total | format }}%</span
        >
      </td>
    </tr>
  </tbody>
</nz-table>
