<div *ngIf="unit.limitStack">
  <h3>Storage</h3>
  <nz-table nzTemplateMode nzSize="middle">
    <tbody>
      <tr>
        <td colSpan="2" class="row-head">
          <strong>Additive</strong>
        </td>
      </tr>
      <tr *ngFor="let limit of unit.limitStack?.bonuses; trackBy: getBonusId">
        <ng-container
          *ngIf="
            limit.unit.quantity.gt(0) &&
            (!limit.secondMultiplier || limit.secondMultiplier?.quantity.gt(0))
          "
        >
          <td>
            {{ limit.unit.name }}
            <span *ngIf="limit.secondMultiplier">{{
              limit.secondMultiplier.name
            }}</span>
          </td>
          <!-- <td>
            <span *ngIf="!limit.secondMultiplier; else secondMulti">{{
              limit.unit.quantity | format
            }}</span>
            <ng-template #secondMulti>
              <span>{{
                limit.unit.quantity.times(limit.secondMultiplier.quantity)
                  | format
              }}</span>
            </ng-template>
          </td>
          <td>x{{ limit.multiplier | format: true }}</td> -->
          <td>{{ limit.getAdditiveBonus() | format }}</td>
        </ng-container>
      </tr>
      <!-- </tbody>
  </nz-table>
  <h3>Storage - Multiplicative</h3>
  <nz-table nzTemplateMode nzSize="middle">
    <tbody> -->
      <tr *ngIf="hasMulti">
        <td colSpan="2" class="row-head">
          <strong>Multiplicative</strong>
        </td>
      </tr>
      <tr
        *ngFor="let limit of unit.limitStackMulti?.bonuses; trackBy: getBonusId"
      >
        <ng-container *ngIf="limit.unit.quantity.gt(0)">
          <td>{{ limit.unit.name }}</td>
          <!-- <td>{{ limit.unit.quantity | format }}</td>
            <td>x{{ limit.multiplier.times(100) | format }}%</td> -->
          <td>x {{ limit.getBonus().times(100) | format }}%</td>
        </ng-container>
      </tr>
    </tbody>
  </nz-table>
</div>
