<nz-table
  #basicTable
  [nzSize]="size"
  [nzData]="comparisonData"
  nzFrontPagination="false"
>
  <tbody>
    <tr *ngFor="let data of basicTable.data">
      <td fxLayout="row" fxLayoutGap="0.3rem">
        <span [className]="data.iconClass"
          ><i nz-icon [nzType]="data.icon"></i
        ></span>
        <strong> {{ data.name }}</strong>
      </td>
      <td class="minWidth">
        {{ data.original | format }}
      </td>
      <td *ngIf="design" class="minWidth">
        <span nz-text [nzType]="data.type" [className]="data.classes">{{
          data.new | format
        }}</span>
      </td>
    </tr>
  </tbody>
</nz-table>
