@card-head-height: 24px;

.text-success {
  color: @success-color;
}
.text-info {
  color: @info-color;
}
.job-list {
  background: @layout-header-background;
}
.dark-background {
  background: @layout-header-background;
}
.light-background {
  background: @component-background;
}

.progress {
  background-color: @progress-remaining-color;

  div {
    background-color: @progress-default-color;
  }
}

.armour-damage-color {
  color: @armour-damage-color;
}
.shield-damage-color {
  color: @shield-damage-color;
}
.energy-color {
  color: @energy-color;
}
