
.text-success{color:@success-color}
.text-info{color:@info-color}
.job-list {
    background: @component-background;
  }

  .progress{
  background-color: @progress-remaining-color;

    div{
      background-color: @progress-default-color;
    }
  }