// -------- Colors -----------
@metal-color: @red-5;
@energy-color: @yellow-5;
@alloy-color: @purple-5;
@science-color: @cyan-5;
@production-color: @orange-5;

@metal-color-alt: @red-5;
@energy-color-alt: @yellow-5;
@alloy-color-alt: @purple-5;
@science-color-alt: @cyan-5;
@production-color-alt: @orange-5;

@info-color: @blue-7;
@success-color: @green-7;
@processing-color: @blue-7;
@error-color: @red-7;
@highlight-color: @red-7;
@warning-color: @gold-7;

@damage-color: @orange-6;
@armour-damage-color: @green-6;
@shield-damage-color: @blue-5;
@energy-color: @yellow-6;
@explosion-color: @purple-5;
@cargo-color: @magenta-5;
@velocity-color: @geekblue-4;
@acceleration-color: @red-5;

// Color used by default to control hover and active backgrounds and for
// alert info backgrounds.
@primary-1: color(~`colorPalette("@{primary-color}", 9) `);
@primary-2: color(~`colorPalette("@{primary-color}", 8) `);
@primary-3: color(~`colorPalette("@{primary-color}", 7) `); // unused
@primary-4: color(~`colorPalette("@{primary-color}", 6) `); // unused
@primary-5: color(~`colorPalette("@{primary-color}", 5) `);
@primary-6: @primary-color;
@primary-7: color(~`colorPalette("@{primary-color}", 4) `);
@primary-8: color(~`colorPalette("@{primary-color}", 3) `); // unused
@primary-9: color(~`colorPalette("@{primary-color}", 2) `); // unused
@primary-10: color(~`colorPalette("@{primary-color}", 1) `); // unused

@layout-body-background: #000000; //#171717
@background-color-light: #000000;
@background-color-base: #434343; // #1f1f1f;
@body-background: #171717;

// Alert
// ---
@alert-success-border-color: ~`colorPalette("@{success-color}", 7) `;
@alert-success-bg-color: ~`colorPalette("@{success-color}", 10) `;
@alert-success-icon-color: @success-color;
@alert-info-border-color: ~`colorPalette("@{info-color}", 7) `;
@alert-info-bg-color: ~`colorPalette("@{info-color}", 10) `;
@alert-info-icon-color: @info-color;
@alert-warning-border-color: ~`colorPalette("@{warning-color}", 7) `;
@alert-warning-bg-color: ~`colorPalette("@{warning-color}", 10) `;
@alert-warning-icon-color: @warning-color;
@alert-error-border-color: ~`colorPalette("@{error-color}", 7) `;
@alert-error-bg-color: ~`colorPalette("@{error-color}", 10) `;
@alert-error-icon-color: @error-color;

@progress-default-color: @primary-color;

@input-bg: #1a1a1a;
@btn-default-bg: #1a1a1a;
@border-color-base: rgba(255, 255, 255, 0.35);
@border-color-split: #363636;
@heading-color: #dddddd;
@text-color: #dddddd;
@text-color-secondary: fade(#fff, 65%);

@popover-bg: #201f1e;

@table-selected-row-bg: lighten(@table-header-bg, 5%); // #414242;
@table-expanded-row-bg: @table-selected-row-bg; // #414242;

@layout-trigger-background: @table-header-bg; // #3b3a39;
@layout-trigger-color: fade(#fff; 80%);

@layout-trigger-background-light: @layout-trigger-background;
@layout-trigger-color-light: @layout-trigger-color;

@alert-message-color: fade(#000; 67%);
@disabled-color: rgba(255; 255; 255; 0.25);
@tag-default-bg: #262628;

@wait-icon-color: fade(#fff; 64%);
@progress-remaining-color: @background-color-base;

// @info-color: #313133;

// Buttons
@btn-primary-bg: darken(@primary-color, 5%);

@btn-danger-bg: darken(@error-color, 5%);
@btn-danger-border: @btn-danger-bg;

// Shadow
@shadow-color: rgba(0, 0, 0, 0.6);
@box-shadow-base: @shadow-1-down;
@shadow-1-up: 0 -2px 8px @shadow-color;
@shadow-1-down: 0 2px 8px @shadow-color;
@shadow-1-left: -2px 0 8px @shadow-color;
@shadow-1-right: 2px 0 8px @shadow-color;
@shadow-2: 0 4px 12px @shadow-color;

@highlight-color: @red-7;
@warning-color: @gold-9;

// @component-background: lighten(@layout-body-background, 3%); // #323130;
@component-background: #161616;
@layout-header-background: #000000;

@layout-sider-background: @layout-header-background; // #3b3a39;
@menu-submenu-bg: @component-background; //#323130;
@menu-bg: @layout-header-background; // #3b3a39;
@layout-sider-background-light: @menu-bg;

// Menu
@menu-popup-bg: @menu-bg;
@menu-item-color: @text-color;
@menu-highlight-color: #f8f8f8;
@menu-item-active-bg: @item-active-bg;
@menu-item-group-title-color: @text-color-secondary;
@menu-item-active-border-width: 0;

// dark theme
@menu-dark-color: @text-color-secondary-dark;
@menu-dark-bg: @layout-header-background; //#3b3a39;
@menu-dark-submenu-bg: lighten(@component-background, 3%); //#414242;
@menu-dark-item-active-bg: lighten(@menu-dark-submenu-bg, 3%);
@menu-dark-item-active-bg: @item-active-bg;

@menu-item-vertical-margin: 0;
@menu-item-boundary-margin: 0;
@border-color-split: #787878;

@slider-rail-background-color-hover: @border-color-split;

.ant-layout-header {
  border-bottom: @border-color-split 1px solid;
}
.mainContainer {
  border-right: @border-color-split 1px solid;
}
.ant-layout-sider-children {
  box-shadow: @border-color-split 1px 0 0;
}
.ant-menu-dark .ant-menu-inline.ant-menu-sub {
  box-shadow: none;
}

.ant-layout-sider-trigger::before {
  content: "";
  display: block;
  background-color: rgba(255, 255, 255, 0.18);
  height: 1px;
  margin: 0 10px;
}
.sidebar-logo {
  background-color: @layout-header-background;
}
.ant-menu ul,
.ant-menu ol {
  .ant-menu-item::before {
    background-color: #848483;
    bottom: 0;
    content: "";
    left: 0;
    position: absolute;
    top: 0;
    width: 4px;
  }
  .ant-menu-item-selected::before {
    background-color: @primary-color;
    bottom: 0;
    content: "";
    left: 0;
    position: absolute;
    top: 0;
    width: 4px;
  }
}

.dark-background {
  background: @component-background;
}
.light-background {
  background: @layout-header-background;
}
.ant-select-dropdown {
  border: @border-color-split 1px solid;
}

@import "./src/commonTheme.less";
