// -------- Colors -----------
@damage-color: @orange-7;
@armour-damage-color: @green-7;
@shield-damage-color: @blue-7;
@energy-color: @yellow-7;
@explosion-color: @purple-7;
@cargo-color: @magenta-7;
@velocity-color: @geekblue-7;
@acceleration-color: @red-7;

@progress-default-color: @primary-color;

// @layout-body-background: white;

.dark-background {
  color: @text-color-dark;
}
.text-dark {
  color: @text-color-dark;
}
.dark-background {
  background: @layout-header-background;
}
.light-background {
  background: @component-background;
}
@import "./src/commonTheme.less";
