// -------- Colors -----------
@metal-color: @red-7;
@energy-color: @yellow-7;
@alloy-color: @purple-7;
@science-color: @cyan-7;
@production-color: @orange-7;

@metal-color-alt: @red-5;
@energy-color-alt: @yellow-5;
@alloy-color-alt: @purple-4;
@science-color-alt: @cyan-5;
@production-color-alt: @orange-5;

@damage-color: @orange-7;
@armour-damage-color: @green-7;
@shield-damage-color: @blue-7;
@energy-color: @yellow-7;
@explosion-color: @purple-7;
@cargo-color: @magenta-7;
@velocity-color: @geekblue-7;
@acceleration-color: @red-7;
@defence-damage-color: @lime-7;

@progress-default-color: @primary-color;

// @layout-body-background: white;

.dark-background {
  color: @text-color-dark;
}
.text-dark {
  color: @text-color-dark;
}
.dark-background {
  background: @layout-header-background;
}
.light-background {
  background: @component-background;
}
@import "./src/commonTheme.less";
