/* You can add global styles to this file, and also import other style files */

@media only screen and (min-width: 700px) {
  nz-header {
    position: sticky;
    top: 0;
  }
}

// body {
//   font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
//     "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
//     "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
// }

.monospace {
  font-family: "Roboto Mono", "Fira Code", Consolas, "Andale Mono WT",
    "Andale Mono", "Lucida Console", "Lucida Sans Typewriter",
    "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono",
    "Nimbus Mono L", Monaco, "Courier New", Courier, monospace;
  // font-size: 95%;
}

.ant-card-body {
  padding: 18px;
}

.cdk-drag {
  cursor: move;
}

.cdk-drag-preview {
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
.job-box {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.job-box:last-child {
  border: 0;
}

.cdk-drop-list-dragging .cdk-drag:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.job-list {
  border-radius: 4px;
  display: block;
  height: 100%;
  min-height: 200px;
  overflow: hidden;
}

.left {
  float: left;
}

.right {
  float: right;
}

.info-icon {
  cursor: pointer;
}

.list-unstyled {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}

.inner-content {
  height: 100%;
  // min-height: 360px;
  min-height: 280px;
  overflow-x: auto;
  overflow-y: auto;
  padding: 5px;
  padding-bottom: 50px !important;
  padding-top: 5px;
  width: 100%;
}

@media only screen and (min-width: 1200px) {
  .inner-content {
    padding-top: 10px;
  }
}

@media only screen and (min-width: 600px) {
  .inner-content {
    padding: 10px;
    padding-right: 5px;
    padding-top: 5px;
  }
}
// @media only screen and (max-width: 700px) {
//   app-root {
//     padding-bottom: 50px !important;
//   }
// }
.ant-layout-sider-children {
  overflow-y: auto;
}
.ant-layout-sider-children {
  overflow-y: auto;
}

.ant-layout-sider-trigger {
  height: 36px;
  line-height: 36px;
}

.ant-menu-inline,
.ant-menu-vertical,
.ant-menu-vertical-left {
  border: 0;
}
@media only screen and (min-width: 700px) {
  ::-webkit-scrollbar {
    height: 7px;
    width: 7px;
  }

  ::-webkit-scrollbar-button {
    height: 0;
    width: 0;
  }

  ::-webkit-scrollbar-thumb {
    border-radius: 50px;
  }

  ::-webkit-scrollbar-track {
    border-radius: 50px;
  }

  ::-webkit-scrollbar-corner {
    background: transparent;
  }
}
.ant-table-thead > tr > th,
.ant-table-tbody > tr > td {
  padding: 8px;
}

@media only screen and (max-width: 599px) {
  .ant-collapse-content > .ant-collapse-content-box {
    padding: 1px;
    padding-bottom: 4px;
  }
}

@media only screen and (min-width: 600px) and (max-width: 959px) {
  .ant-collapse-content > .ant-collapse-content-box {
    padding: 8px;
  }
}

.full-height {
  height: 100%;
}

// .ant-layout-content {
//   min-height: auto;
// }

.center {
  text-align: center;
}

.ant-card-head {
  border-bottom: 0;
}
.ant-card-small > .ant-card-head {
  min-height: 24px;
  min-width: 0;
}

.ant-card-small
  > .ant-card-head
  > .ant-card-head-wrapper
  > .ant-card-head-title {
  padding: 0;
  padding-top: 6px;
}

.ant-card-small > .ant-card-body {
  padding-top: 0;
}
* {
  user-select: none;
}
.disable-animation * {
  transition: none !important;
}

nz-card-meta {
  .ant-card-meta-detail > div:not(:last-child) {
    margin-bottom: -6px;
  }

  i {
    font-size: 28px;
    margin-top: 4px;
  }
}

.height100 {
  height: 100%;
}

.ant-select-single:not(.ant-select-customize-input) .ant-select-selector,
.ant-select-multiple .ant-select-selection-placeholder,
.ant-select-multiple .ant-select-selector * {
  transition: none !important;
}

.text-right {
  text-align: right;
}
.ant-table-tbody > tr .ant-table-wrapper:only-child .ant-table {
  margin: 0;
}
.ant-menu-item .anticon + span,
.ant-menu-submenu-title .anticon + span {
  transition: none !important;
}
.ant-notification-bottomRight {
  bottom: 0 !important;
}
.ant-notification {
  margin: 0 10px 0 0;
}
.ant-form-vertical .ant-form-item-label {
  padding: 0;
}
nz-alert {
  margin-top: 12px;
}
.ant-alert-with-description {
  padding: 8px 15px 8px 64px;
}
.no-wrap {
  white-space: nowrap;
}
@media (max-width: 575px) {
  .switch-form .ant-form-item .ant-form-item-control,
  .switch-form .ant-form-item .ant-form-item-label {
    flex: 1;
  }
}
.ant-layout-sider-children {
  & > ul {
    margin-bottom: 50px;
  }
}
