/* You can add global styles to this file, and also import other style files */
@media only screen and (min-width: 700px) {
  nz-header {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
  }
}
.monospace {
  font-family: monospace, monospace;
  font-size: 95%;
}
