.achievement-icon {
  font-size: 32px;
  margin-right: 8px;
}
.ack-description {
  max-width: 400px;
}
.completed-overlay {
  margin-left: -40px;
}
.series {
  margin-right: 1rem;
}
.title {
  margin-right: 2rem;
}
.total-ack {
  margin-left: 2rem;
  font-size: medium;
}
