.bottom-spells {
  left: -50%;
  padding-left: 10px;
  padding-right: 10px;
  position: relative;
  top: -1px;
  z-index: 100;
}
.spell {
  i {
    font-size: 28px;
  }
}
.block {
  display: block;
}
.computing {
  margin-left: 1rem;
}
.icons {
  margin-bottom: 0 !important;
  margin-right: -28px;
  i {
    left: 0;
    position: relative;
    top: 0;
  }
  .first {
    opacity: 0.7;
    transition: opacity 0.5s;
    &:hover {
      opacity: 1;
    }
  }
  .second {
    left: -28px;
  }
}

.percentage {
  width: 0.4rem;
  div {
    width: 0.4rem;
  }
}
.bottom-spells {
  opacity: 0.65;
  transition: opacity 0.5s;
  &:hover {
    opacity: 1;
  }
}
