.bottom-spells {
  position: relative;
  left: -50%;
  top: -1px;
  padding-left: 10px;
  padding-right: 10px;
  z-index: 100;
}
.spell {
  i {
    font-size: 28px;
  }
}
.block {
  display: block;
}
.computing {
  margin-left: 1rem;
}
.icons {
  margin-right: -28px;
  margin-bottom: 0 !important;
  i {
    position: relative;
    top: 0;
    left: 0;
    // cursor: pointer;
    // margin-right: -28px;
  }
  .first {
    opacity: 70%;
  }
  .second {
    left: -28px;
  }
}
