<div
  class="bottom-spells ant-card"
  fxLayout="row"
  fxLayoutGap="10px"
  fxLayoutAlign="center stretch"
>
  <!-- ant-card-bordered ant-card -->
  <div
    fxLayout="row"
    fxLayoutAlign="center center"
    class="spell"
    *ngFor="
      let spell of ms.game.computingManager.currentSpells;
      trackBy: getSpellId
    "
  >
    <div class="icons" nz-typography [nzDisabled]="!spell.canAfford">
      <i
        nz-popover
        [nzPopoverTitle]="titleTemplate"
        [nzPopoverContent]="contentTemplate"
        nz-icon
        [nzType]="spell.icon"
        class="first"
        (click)="spell.activate()"
        [style.cursor]="spell.canAfford ? 'pointer' : ''"
      ></i>
      <i
        nz-popover
        [nzPopoverTitle]="titleTemplate"
        [nzPopoverContent]="contentTemplate"
        nz-icon
        [nzType]="spell.icon"
        class="second"
        [ngClass]="spell.colorClass"
        [style.clip-path]="clip(spell)"
      ></i>
    </div>

    <ng-template #titleTemplate> {{ spell.name }}</ng-template>
    <ng-template #contentTemplate>
      <p>{{ spell.description }}</p>
      <span class="monospace">{{ spell.price | format: true }}</span>
    </ng-template>
  </div>

  <div class="computing" fxLayoutAlign="center center" fxLayout="column">
    <span class="monospace">
      {{ ms.game.computingManager.currentComputing | format: false:2 }}/{{
        ms.game.computingManager.maxComputing | format: false:2
      }}
    </span>
    <span class="monospace">
      {{ ms.game.computingManager.computingPerSec | format: false:2 }}/s
    </span>
  </div>

  <div
    class="percentage progress"
    fxLayout="row"
    fxLayoutAlign="space-around end"
  >
    <div [style.height.%]="ms.game.computingManager.computingPercent"></div>
  </div>
</div>
<!-- [ngClass]="spell.colorClass" -->
