<div class="sidebar-logo">
  <a href="https://ng.ant.design/" target="_blank">
    <img src="https://ng.ant.design/assets/img/logo.svg" alt="logo" />
    <h1>Ant Design Of Angular</h1>
  </a>
</div>

<ul
  nz-menu
  [nzTheme]="ms.sideTheme"
  nzMode="inline"
  [nzInlineCollapsed]="ms.isCollapsed && !notCollapsed"
>
  <li nz-submenu nzOpen nzTitle="Dashboard" nzIcon="dashboard">
    <ul>
      <li nz-menu-item nzMatchRouter>
        <a routerLink="/welcome">Welcome</a>
      </li>
      <li nz-menu-item nzMatchRouter>
        <a>Monitor</a>
      </li>
      <li nz-menu-item nzMatchRouter>
        <a>Workplace</a>
      </li>
    </ul>
  </li>
  <li nz-submenu nzOpen nzTitle="Form" nzIcon="form">
    <ul>
      <li nz-menu-item nzMatchRouter>
        <a>Basic Form</a>
      </li>
    </ul>
  </li>
</ul>
