<ul
  nz-menu
  [nzTheme]="ms.sideTheme"
  nzMode="inline"
  [nzInlineCollapsed]="isCollapsed && !notCollapsed"
  class="first"
>
  <li nz-menu-item nzMatchRouter [routerLink]="'units/w'">
    <i nz-icon nzType="my:vintage-robot"></i>
    <span>Workers</span>
  </li>
  <li nz-menu-item nzMatchRouter [routerLink]="'units/b'">
    <i nz-icon nzType="fa-s:globe"></i>
    <span>Buildings</span>
  </li>
  <li
    nz-menu-item
    nzMatchRouter
    *ngIf="ms.game.resourceManager.unlockedSpaceStations.length > 0"
    [routerLink]="'space'"
  >
    <i nz-icon nzType="my:defense-satellite"></i>
    <span>Space Stations</span>
  </li>
  <li nz-menu-item nzMatchRouter [routerLink]="'lab'">
    <i nz-icon nzType="fa-s:flask"></i>
    <span>Laboratory</span>
  </li>
  <li nz-menu-item nzMatchRouter [routerLink]="'tech'">
    <i nz-icon nzType="fa-s:book"></i>
    <span>Technologies</span>
  </li>
  <li nz-menu-item nzMatchRouter [routerLink]="'tree'">
    <i nz-icon nzType="fa-s:project-diagram"></i>
    <span>Tree</span>
  </li>
  <li nz-menu-item nzMatchRouter [routerLink]="'fleet'">
    <i nz-icon nzType="my:strafe"></i>
    <span>Fleet</span>
  </li>
  <li nz-menu-item nzMatchRouter [routerLink]="'/des'">
    <i nz-icon nzType="fa-s:pencil-ruler"></i>
    <span>Designs</span>
  </li>
  <li nz-menu-item nzMatchRouter [routerLink]="'/modules'">
    <i nz-icon nzType="fa-s:table"></i>
    <span>Modules</span>
  </li>
  <li nz-menu-item nzMatchRouter routerLink="enemyList">
    <i nz-icon nzType="fa-s:search"></i>
    <span>Enemies</span>
  </li>
  <li nz-menu-item nzMatchRouter routerLink="battle">
    <i nz-icon nzType="fa-s:crosshairs"></i>
    <span>Battle</span>
  </li>
  <li nz-menu-item nzMatchRouter routerLink="report">
    <i nz-icon nzType="fa-s:chart-bar"></i>
    <span>Reports</span>
  </li>
  <li nz-menu-item nzMatchRouter [routerLink]="'save'">
    <i nz-icon nzType="my:vintage-robot"></i>
    <span>Save</span>
  </li>
</ul>
