<ul
  nz-menu
  [nzTheme]="ms.sideTheme"
  nzMode="inline"
  [nzInlineCollapsed]="isCollapsed && !notCollapsed"
  class="first"
>
  <li nz-submenu nzOpen nzTitle="Units" nzIcon="fa-s:tachometer-alt">
    <ul>
      <li nz-menu-item nzMatchRouter>
        <a [routerLink]="'units/w'">Workers</a>
      </li>
      <li
        nz-menu-item
        nzMatchRouter
        *ngIf="ms.game.resourceManager.unlockedBuildings.length > 0"
      >
        <a [routerLink]="'units/b'">Buildings</a>
      </li>
      <li
        nz-menu-item
        nzMatchRouter
        *ngIf="ms.game.resourceManager.unlockedSpaceStations.length > 0"
      >
        <a [routerLink]="'space'">Space Stations</a>
      </li>
      <li nz-menu-item nzMatchRouter>
        <a [routerLink]="'bi'">Bi</a>
      </li>
    </ul>
  </li>
  <li
    *ngIf="ms.game.resourceManager.science.unlocked"
    nz-submenu
    nzOpen
    nzTitle="Laboratory"
    nzIcon="fa-s:flask"
  >
    <ul>
      <li nz-menu-item nzMatchRouter>
        <a [routerLink]="'lab'">Laboratory</a>
      </li>
      <li nz-menu-item nzMatchRouter>
        <a [routerLink]="'tech'">Technologies</a>
      </li>
      <li nz-menu-item nzMatchRouter>
        <a [routerLink]="'resPri'">Priorities</a>
      </li>
      <li nz-menu-item nzMatchRouter>
        <a [routerLink]="'tree'">Tree</a>
      </li>
    </ul>
  </li>
  <li
    *ngIf="ms.game.resourceManager.worker.unlocked"
    nz-submenu
    nzOpen
    nzTitle="Shipyard"
    nzIcon="fa-s:wrench"
  >
    <ul>
      <li nz-menu-item nzMatchRouter>
        <a [routerLink]="'fleet'">Fleet</a>
      </li>
      <li nz-menu-item nzMatchRouterExact>
        <a [routerLink]="'/des/add'">
          <span>Designs</span>
        </a>
      </li>
      <li nz-menu-item nzMatchRouter>
        <a [routerLink]="'/modules'">
          <span>Modules</span>
        </a>
      </li>
    </ul>
  </li>
  <li nz-submenu nzOpen nzTitle="Enemies" nzIcon="my:strafe">
    <ul>
      <li nz-menu-item nzMatchRouterExact routerLink="enemyList/search">
        <a>Enemies</a>
      </li>
      <li nz-menu-item nzMatchRouter routerLink="battle">
        <a>Battle</a>
      </li>
      <li nz-menu-item nzMatchRouter routerLink="report">
        <a>Reports</a>
      </li>
    </ul>
  </li>
  <li nz-submenu nzOpen nzTitle="Setting" nzIcon="fa-s:sliders-h">
    <ul>
      <li nz-menu-item nzMatchRouter>
        <a [routerLink]="'save'">Save</a>
      </li>
    </ul>
  </li>
</ul>
