<div
  fxLayout="row"
  fxLayout.lt-sm="column-reverse"
  [class.full-height]="isLarge"
>
  <nz-sider
    [nzCollapsible]="isLarge"
    [(nzCollapsed)]="isCollapsed"
    nzWidth="200px"
  >
    <ul
      nz-menu
      [nzTheme]="ms.sideTheme"
      nzMode="inline"
      [nzInlineCollapsed]="isCollapsed"
      (cdkDropListDropped)="drop($event)"
      cdkDropList
    >
      <li nz-menu-item routerLink="/enemyList/search">
        <i nz-icon nzType="plus-circle"></i>
        <span>Search</span>
      </li>
      <li
        nz-menu-item
        nzMatchRouter
        @fadeIn
        *ngFor="let enemy of ms.game.enemyManager.enemies; trackBy: getEnemyId"
        cdkDrag
      >
        <a [routerLink]="'enemyDetail/' + enemy.id">
          <i nz-icon [nzType]="enemy.icon"></i>
          <strong *ngIf="!isCollapsed">{{ enemy.name }}</strong>
          <span
            [class.text-danger]="enemy.level > ms.game.enemyManager.maxLevel"
          >
            lv.
            {{ enemy.level | number: "1.0-0" }}
          </span>
        </a>
      </li>
    </ul>
  </nz-sider>

  <div class="inner-content"><router-outlet></router-outlet></div>
</div>
