<div
  fxLayout="row wrap"
  fxLayout.lt-md="column"
  *ngIf="design"
  fxLayoutGap="1rem"
>
  <div fxFlex="65 1 0">
    <h1>
      {{ design.name }}
      <small>Rev. {{ design.rev | number }}</small>
    </h1>

    <!-- Recap Line  -->
    <span
      class="recap"
      *ngIf="design"
      fxLayout="row"
      fxLayout.xs="column"
      fxLayoutAlign="space-between"
    >
      <span>
        <strong>Module count:</strong>
        <span
          class="monospace"
          nz-text
          [nzType]="
            design.modules.length <= design.type.maxModule ? '' : 'danger'
          "
        >
          {{ design.modules.length | format }}/{{
            design.type.maxModule | format
          }}
        </span></span
      >

      <span>
        <strong>Points:</strong>
        <span
          class="monospace"
          nz-text
          [nzType]="design.totalPoints <= design.type.maxPoints ? '' : 'danger'"
        >
          {{ design.totalPoints | format }}/{{ design.type.maxPoints | format }}
        </span></span
      >

      <span>
        <strong>Energy:</strong>
        <span
          class="monospace"
          nz-text
          [nzType]="design.energy > 0 ? '' : 'danger'"
        >
          {{ design.energy | format }}</span
        >
      </span></span
    >

    <!-- Form  -->
    <form *ngIf="design" nz-form [nzLayout]="'horizontal'">
      <nz-form-item *ngFor="let line of design.modules; let i = index">
        <nz-form-control
          [nzValidateStatus]="line.validateStatus"
          [nzErrorTip]="' ' + line.errorTip"
          [nzWarningTip]="' ' + line.warningTip"
        >
          <div fxLayout="row wrap" fxLayoutGap="0.5rem" fxLayout.lt-sm="column">
            <nz-select
              fxFlex="1 1 0"
              [name]="'module' + i"
              [(ngModel)]="line.moduleId"
              (ngModelChange)="moduleChange(i)"
              [nzCustomTemplate]="custom"
              class="module-select"
            >
              <nz-option
                *ngFor="let mod of ms.game.shipyardManager.groups[0].list"
                [nzValue]="mod.id"
                [nzLabel]="mod.name"
                nzCustomContent
              >
                <i nz-icon [nzType]="mod.shape"></i>
                <span> {{ mod.name }}</span>
              </nz-option>
              <nz-option
                *ngFor="let mod of ms.game.shipyardManager.groups[1].list"
                [nzValue]="mod.id"
                [nzLabel]="mod.name"
                nzCustomContent
              >
                <i nz-icon [nzType]="mod.shape"></i>
                <span> {{ mod.name }}</span></nz-option
              >
              <nz-option
                *ngFor="let mod of ms.game.shipyardManager.groups[2].list"
                [nzValue]="mod.id"
                [nzLabel]="mod.name"
                nzCustomContent
              >
                <i nz-icon [nzType]="mod.shape"></i>
                <span> {{ mod.name }}</span></nz-option
              >
              <nz-option
                *ngFor="let mod of ms.game.shipyardManager.groups[3].list"
                [nzValue]="mod.id"
                [nzLabel]="mod.name"
                nzCustomContent
              >
                <i nz-icon [nzType]="mod.shape"></i>
                <span> {{ mod.name }}</span></nz-option
              >
              <nz-option
                *ngFor="let mod of ms.game.shipyardManager.groups[4].list"
                [nzValue]="mod.id"
                [nzLabel]="mod.name"
                nzCustomContent
              >
                <i nz-icon [nzType]="mod.shape"></i>
                <span> {{ mod.name }}</span></nz-option
              >

              <!-- <nz-option-group
                [nzLabel]="group.name"
                *ngFor="let group of ms.game.shipyardManager.groups"
              >
                <nz-option
                  *ngFor="let mod of group.list"
                  [nzValue]="mod.id"
                  [nzLabel]="mod.name"
                > -->
              <!-- <i nz-icon [nzType]="mod.shape" style="font-size: 200%;"></i> -->
              <!-- <span fxFlex="100%"> {{ mod.name }}</span> -->
              <!-- </nz-option>
              </nz-option-group> -->
            </nz-select>
            <div fxLayout="row" fxLayoutGap="0.5rem">
              <nz-select
                *ngIf="line.module"
                [name]="'size' + i"
                [(ngModel)]="line.size"
                (ngModelChange)="reload()"
                style="width: 7rem;"
              >
                <nz-option
                  *ngFor="let size of line.module.sizes; trackBy: getSizeId"
                  [nzValue]="size"
                  [nzLabel]="size | sizePipe"
                ></nz-option>
              </nz-select>
              <div style="line-height: 0;">
                <input
                  nz-input
                  [(ngModel)]="line.levelUi"
                  [name]="'level-' + i"
                  (ngModelChange)="reload(i)"
                  class="levelNum"
                />
              </div>
              <i
                nz-icon
                nzType="minus-circle-o"
                class="dynamic-delete-button"
                (click)="removeLine(i)"
              >
              </i>
            </div>
          </div>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-control>
          <div fxLayout="row" fxLayoutAlign="center" style="width: 100%;">
            <button
              nz-button
              nzType="dashed"
              class="add-button"
              (click)="addLine($event)"
              *ngIf="design.modules.length < design.type.maxModule"
            >
              <i nz-icon nzType="plus"></i>
              Add Module
            </button>
          </div>
        </nz-form-control>
      </nz-form-item>
    </form>

    <ng-template #custom let-selected>
      <span class="modSelect"
        ><i nz-icon [nzType]="getIcon(selected.nzValue)"></i>
        {{ selected.nzLabel }}
      </span>
    </ng-template>

    <!-- Buttons -->
    <nz-button-group>
      <button
        nz-button
        nzType="primary"
        [disabled]="isDisabled()"
        (click)="update()"
      >
        Update
      </button>
      <button nz-button nzType="info" (click)="maximize()">
        Maximize
      </button>
      <button
        nz-button
        nzType="danger"
        *ngIf="original.old"
        (click)="original.deleteOutDated()"
      >
        Delete Outdated
      </button>
      <button nz-button nzType="danger" (click)="delete()">
        Delete Design
      </button>
    </nz-button-group>
  </div>

  <!-- Comparison Table -->

  <div fxFlex="35 1 0">
    <nz-tabset>
      <nz-tab nzTitle="Stats">
        <app-design-info
          [original]="original"
          [design]="design"
          [updateEmitter]="changeEmitter"
        ></app-design-info>
      </nz-tab>
      <nz-tab nzTitle="Weapons">
        <app-weapon-view
          [weapons]="design.weapons"
          *ngIf="design.weapons.length > 0"
        ></app-weapon-view>
      </nz-tab>
    </nz-tabset>
  </div>
</div>
