<div fxLayout="row" fxLayout.lt-md="column" *ngIf="design" fxLayoutGap="1rem">
  <div fxFlex="70">
    <h1>
      {{ design.name }}
      <small>Rev. {{ design.rev | number }}</small>
    </h1>

    <!-- Recap Line  -->
    <span
      class="recap"
      *ngIf="design"
      fxLayout="row"
      fxLayout.xs="column"
      fxLayoutAlign="space-between"
    >
      <span>
        <strong>Module count:</strong>
        <span
          class="monospace"
          nz-text
          [nzType]="
            design.modules.length <= design.type.maxModule ? '' : 'danger'
          "
        >
          {{ design.modules.length | format }}/{{
            design.type.maxModule | format
          }}
        </span></span
      >

      <span>
        <strong>Points:</strong>
        <span
          class="monospace"
          nz-text
          [nzType]="design.totalPoints <= design.type.maxPoints ? '' : 'danger'"
        >
          {{ design.totalPoints | format }}/{{ design.type.maxPoints | format }}
        </span></span
      >

      <span>
        <strong>Energy:</strong>
        <span
          class="monospace"
          nz-text
          [nzType]="design.energy > 0 ? '' : 'danger'"
        >
          {{ design.energy | format }}</span
        >
      </span></span
    >

    <!-- Form  -->
    <form *ngIf="design" nz-form [nzLayout]="'horizontal'">
      <nz-form-item *ngFor="let line of design.modules; let i = index">
        <nz-form-control
          [nzValidateStatus]="line.validateStatus"
          [nzErrorTip]="' ' + line.errorTip"
        >
          <div
            fxLayout="row"
            fxLayoutGap="0.5rem"
            fxLayout="row"
            fxLayout.lt-sm="column"
          >
            <nz-select
              [name]="'module' + i"
              [(ngModel)]="line.moduleId"
              (ngModelChange)="moduleChange(i)"
            >
              <nz-option-group
                [nzLabel]="group.name"
                *ngFor="
                  let group of ms.game.shipyardManager.groups;
                  trackBy: getGroupId
                "
              >
                <nz-option
                  *ngFor="let mod of group.list; trackBy: getModId"
                  nzCustomContent
                  [nzValue]="mod.id"
                  [nzLabel]="mod.name"
                >
                  <span
                    fxLayout="row"
                    fxLayoutAlign="start center"
                    fxLayoutGap="15px"
                    ><span nz-text>
                      <i
                        nz-icon
                        [nzType]="mod.shape"
                        style="font-size: 200%"
                      ></i>
                    </span>
                    <span
                      fxLayout="row"
                      fxLayout.xs="column"
                      fxLayoutAlign="space-between center"
                      fxFlex="100%"
                    >
                      <span fxFlex="100%"> {{ mod.name }}</span>
                      <app-module-info [mod]="mod"></app-module-info>
                    </span>
                  </span>
                </nz-option>
              </nz-option-group>
            </nz-select>
            <div fxLayout="row" fxLayoutGap="0.5rem">
              <nz-select
                *ngIf="line.module"
                [name]="'size' + i"
                [(ngModel)]="line.size"
                (ngModelChange)="reload()"
                style="min-width: 8rem;"
              >
                <nz-option
                  *ngFor="let size of line.module.sizes; trackBy: getSizeId"
                  [nzValue]="size"
                  [nzLabel]="size | sizePipe"
                ></nz-option>
              </nz-select>
              <div style="line-height:0;">
                <input
                  nz-input
                  [(ngModel)]="line.levelUi"
                  [name]="'level-' + i"
                  (ngModelChange)="reload(i)"
                  class="levelNum"
                />
              </div>
              <i
                nz-icon
                nzType="minus-circle-o"
                class="dynamic-delete-button"
                (click)="removeLine(i)"
              >
              </i>
            </div>
          </div>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-control>
          <div fxLayout="row" fxLayoutAlign="center" style="width:100%">
            <button
              nz-button
              nzType="dashed"
              class="add-button"
              (click)="addLine($event)"
              *ngIf="design.modules.length < design.type.maxModule"
            >
              <i nz-icon nzType="plus"></i>
              Add Module
            </button>
          </div>
        </nz-form-control>
      </nz-form-item>
    </form>

    <!-- Buttons -->
    <nz-button-group>
      <button
        nz-button
        nzType="primary"
        [disabled]="isDisabled()"
        (click)="update()"
      >
        Update
      </button>
      <button
        nz-button
        nzType="danger"
        *ngIf="original.old"
        (click)="original.deleteOutDated()"
      >
        Delete Outdated
      </button>
      <button nz-button nzType="danger" (click)="delete()">
        Delete Design
      </button>
    </nz-button-group>
  </div>

  <!-- Comparison Table -->
  <div fxFlex="30">
    <app-design-info
      [original]="original"
      [design]="design"
      [updateEmitter]="changeEmitter"
    ></app-design-info>
    <h3>Weapons</h3>
    <app-weapon-view
      [weapons]="design.weapons"
      *ngIf="design.weapons.length > 0"
    ></app-weapon-view>
  </div>
</div>
