.dynamic-delete-button {
  cursor: pointer;
  font-size: 24px;
  margin-left: 0.4rem;
  position: relative;
  top: 4px;
  // transition: all 0.3s;
}

.add-button {
  width: 60%;
}

@media only screen and (min-width: 959px) {
  .recap {
    padding-right: 2rem;
  }
}

.levelNum {
  width: 4rem;
}

.modSelect {
  i {
    margin-right: 0.5rem;
  }
}

form {
  white-space: pre-line;
}

.module-select {
  min-width: 15rem;
  width: auto;
}

.next-select {
  min-width: 10rem;
}

.ant-form-item-explain,
.ant-form-item-extra {
  margin-top: -0;
}

nz-alert {
  margin-top: 12px;
}
.mod-options {
  width: 100%;
  display: inline-block;
}
.mod-info-container {
  max-width: 350px;
}
