<!-- [nzTheme]="ms.sideTheme" -->
<div
  fxLayout="row"
  fxLayout.lt-sm="column-reverse"
  [class.full-height]="isLarge"
>
  <nz-sider
    [nzCollapsible]="isLarge"
    [(nzCollapsed)]="ms.enemyListCollapsed"
    nzCollapsedWidth="50"
    nzWidth="300px"
    nzTheme="light"
  >
    <ul
      nz-menu
      nzTheme="light"
      nzMode="inline"
      [nzInlineCollapsed]="ms.enemyListCollapsed"
    >
      <li
        nz-submenu
        [nzTitle]="subList.name"
        [nzIcon]="subList.icon"
        [(nzOpen)]="subList.expanded"
        *ngFor="
          let subList of ms.game.resourceManager.subLists;
          trackBy: getListId
        "
      >
        <ul class="my-submenu">
          <li
            nz-menu-item
            nzMatchRouter
            *ngFor="let unit of subList.units; trackBy: getId"
            class="menu-light"
          >
            <a [routerLink]="'unitDetail/' + unit.id">
              <app-unit-menu [unit]="unit"></app-unit-menu>
            </a>
          </li>
        </ul>
      </li>
    </ul>
  </nz-sider>

  <div class="inner-content"><router-outlet></router-outlet></div>
</div>
